<footer class="bd-footer p-3 p-md-5 bg-light text-center text-sm-start">
    <div class="container">
        <h6>{{ app }}</h6>
        <ul class="bd-footer-links ps-0 pl-0 mb-3 text-muted">
            <li class="d-inline-block"><a href="{{ app_whatsapp }}"><small>WhatsApp</small></a></li>
            <li class="d-inline-block ms-3"><a href="{{ app_twitter }}"><small>Twitter</small></a></li>
            <li class="d-inline-block ms-3"><a href="{{ app_instagram }}"><small>Instagram</small></a></li>
            <li class="d-inline-block ms-3"><a href="{{ app_facebook }}"><small>Facebook</small></a></li>
        </ul>
        <small class="mb-0 text-muted">
            Dikirim secara otomatis pada . <br>
            <a href="#">Atur preferensi</a> menerima email
        </small>
    </div>
</footer>