<div class="jumbotron jumbotron-fluid bg-light mb-0">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <a href="{{ url_for('front.home_page') }}">
                <img src="{{ app_logo_src }}" height="30" alt="{{ app }}">
            </a>
        </div>
    </div>
</div>