{%- extends "front/email/base_email.html" %}
{% set title = "iklan berhasil dibuat!" %}
{% block title %}{{ title|title ~ ' - ' ~ super() }}{% endblock title %}

{% block email_content %}
<section class="container-lg">
    <div class="card card-body">
        <h5 class="text-center font-weight-bold mb-3">📝 {{ title | title }}</h5>
        <h6>Kepada, {{ data.brand_name }}</h6>
        <p>
            Terima kasih {{ data.brand_name }} telah percaya kepada {{ app }} sebagai media promosi indekos anda.
            Proses pembelian iklan telah kami terima, untuk selanjutnya selesaikan proses pembayaran sebelum
            29/10/2020 09:58 dengan mengikuti tautan dibawah ini. Berikut ini informasi pembelian iklan anda :
        </p>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr class="text-center font-weight-bold">
                        <th scope="col">No</th>
                        <th scope="col">Nama Paket</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Durasi</th>
                        <th scope="col">Harga</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in data.ads_packages %}
                    <tr>
                        <th class="text-center">{{ loop.index }}</th>
                        <td>{{ p.package_name }}</td>
                        <td>{{ p.description|safe }}</td>
                        <td class="text-right">{{ format_duration(p.duration) }}</td>
                        <td class="text-right">{{ format_price(p.discount_price) }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"></td>
                        <td class="text-center font-weight-bold">Total</td>
                        <td class="text-right font-weight-bold">{{ format_duration(data.remaining_time) }}</td>
                        <td class="text-right font-weight-bold">{{ format_price(data.ads_cost) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex flex-column text-center">
            <a href="#" class="btn btn-primary" role="button">Lakukan Pembayaran</a>
            <small class="text-muted">*Link pembayaran berlaku hingga 29/10/2020 09:58</small>
            <small class="text-muted">ID Iklan : {{ data.public_id }}</small>
        </div>
    </div>
</section>
{% endblock email_content %}