{%- extends "front/email/base_email.html" %}
{% set title = "pendaftaran akun baru berhasil!" %}
{% block title %}{{ title|title ~ ' - ' ~ super() }}{% endblock title %}

{% block email_content %}
<section class="container-lg">
    <div class="card card-body">
        <h5 class="text-center font-weight-bold mb-3">📝 {{ title | title }}</h4>
            <p>
                Selamat bergabung {{ data.brand_name }}. Terima kasih telah memilih {{ app }} sebagai mitra promosi
                indekos
                anda. Pada email ini, kami sertakan informasi pendaftaran serta informasi akun anda untuk
                selanjutnya
                anda
                dapat memanajemen iklan anda di {{ app }}. Rincian akun anda adalah sebagai berikut :
                <br><br>
                Nama Merek : {{ data.brand_name }} <br>
                Alamat Email : {{ data.email }} <br>
                No. Telepon : {{ data.mobile_number }} <br>
                <br><br>
                Simpan informasi berikut secara aman, dan gunakan informasi berikut untuk mengakses data iklan anda
                di
                {{ app }}. Untuk login ke sistem kami, silahkan klik tautan dibawah ini :
            </p>
            <a href="#" class="btn btn-primary" role="button">Lihat Iklan Saya</a>
    </div>
</section>
{% endblock email_content %}