{% extends "back/base_back.html" %}
{% from "back/_macros.html" import render_pagination, render_pagination_search_result %}
{% set active_page = "order" %}

{% set page_title = _('order') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block styles %}
{{ super() }}

{% endblock styles %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ _('show '~page_title~' data') }}</h3>
            <div class="card-tools">
                <form method="GET" name="search_form" action="{{ url_for('back.order_search') }}">
                    <div class="input-group input-group-sm" style="width: 250px;">
                        <input id="{{ search_form.query.id }}" type="text" name="{{ search_form.query.name }}"
                            class="form-control float-right" placeholder="{{ search_form.query.label.text }}">

                        <div class="input-group-append">
                            <button id="{{ search_form.submit.id }}" name="{{ search_form.submit.name }}" type="submit"
                                class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>{{ _('action') }}</th>
                        <th>NO</th>
                        <th>{{ _('transaction id') }}</th>
                        <th>{{ _('brand name') }}</th>
                        <th>{{ _('ads packages') }}</th>
                        <th>{{ _('ads total cost') }}</th>
                        <th>{{ _('payment method') }}</th>
                        <th>{{ _('transaction status') }}</th>
                        <th>{{ _('created at') }}</th>
                        <th>{{ _('updated at') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in order %}
                    <tr>
                        <td></td>
                        <td>{{ loop.index }}</td>
                        <td>{{ data.public_id }}</td>
                        <td>
                            <a href="{{ url_for('.ads_update', public_id=data.ads.public_id) }}">{{
                                data.ads.brand_name}}</a>
                        </td>
                        <td>
                            <ul>
                                {% for ads_package in data.ads.ads_packages %}
                                <li>{{ ads_package.description|safe }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ format_price(data.ads.ads_cost) }}</td>
                        <td>{{ data.payment_method.value }}</td>
                        <td>{{ data.transaction_status.value }}</td>
                        <td>{% if data.created_at %}{{ moment(data.created_at, local=True).format('LLLL') }}{% endif %}
                        </td>
                        <td>{% if data.updated_at %} {{ moment(data.updated_at, local=True).format('LLLL') }}{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            {% if pagination is defined %}
            {{ render_pagination(pagination, '.order') }}
            {% else %}
            {{ render_pagination_search_result(prev_url, next_url) }}
            {% endif %}
        </div>
        <!--/.card-footer-->
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}

{% endblock scripts %}