{% extends "back/base_back.html" %}
{% from "back/_macros.html" import render_field, render_field_with_errors, render_field_checkbox_with_errors %}
{% set active_page = "create_ads" %}

{% set page_title = _('create ads') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block styles %}
{{ super() }}

{% endblock styles %}

{% block content %}
<div class="col-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">{{ page_title }}</h3>
        </div>
        <form class="form-signin" method="POST" name="create_ads_form">
            {{ create_ads_form.csrf_token() }}
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                {{ render_field_with_errors(create_ads_form.property_type, class_="form-control") }}
                                {{ render_field_with_errors(create_ads_form.gender_of_occupant, class_="form-control")
                                }}
                                {{ render_field_with_errors(create_ads_form.type_of_bathroom, class_="form-control") }}
                                {{ render_field_with_errors(create_ads_form.location_close_to, class_="form-control") }}
                            </div>
                            <div class="col-6">
                                {{ render_field_with_errors(create_ads_form.brand_name, class_="form-control") }}
                                {{ render_field_with_errors(create_ads_form.number_bedroom_available,
                                class_="form-control") }}
                                {{ render_field_with_errors(create_ads_form.number_of_bathroom, class_="form-control")
                                }}
                                {{ render_field_with_errors(create_ads_form.address, class_="form-control") }}
                            </div>
                        </div>
                        {{ render_field_with_errors(create_ads_form.email, class_="form-control") }}
                        {{ render_field_with_errors(create_ads_form.feedback, class_="form-control") }}
                        {{ render_field_checkbox_with_errors(create_ads_form.accept_privacy_policy) }}
                        {{ render_field_checkbox_with_errors(create_ads_form.status) }}
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                {{ render_field_with_errors(create_ads_form.rental_price, class_="form-control") }}
                                {{ render_field_with_errors(create_ads_form.mobile_number, class_="form-control") }}
                            </div>
                            <div class="col-6">
                                {{ render_field_with_errors(create_ads_form.duration_of_ease, class_="form-control") }}
                                {{ render_field_with_errors(create_ads_form.whatsapp_number, class_="form-control") }}
                            </div>
                        </div>
                        {{ render_field_with_errors(create_ads_form.additional_info, class_="form-control") }}
                        {{ render_field_checkbox_with_errors(create_ads_form.amenities) }}
                        {{ render_field_checkbox_with_errors(create_ads_form.ads_packages) }}
                    </div>

                </div>
            </div>
            <div class="card-footer">
                {{ render_field(create_ads_form.submit, class_="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='plugins/inputmask/jquery.inputmask.min.js') }}"></script>
<script>
    var rental_price = document.getElementById("rental_price");
    Inputmask("currency").mask(rental_price);
    var mobile_number = document.getElementById("mobile_number");
    Inputmask("+628-9999-9999-999").mask(mobile_number);
    var whatsapp_number = document.getElementById("whatsapp_number");
    Inputmask("+628-9999-9999-999").mask(whatsapp_number);
</script>
{% endblock scripts %}