{% extends "back/base_back.html" %}
{% from "back/_macros.html" import basic_modal, render_pagination, render_field, render_field_with_errors,
render_pagination_search_result %}
{% set active_page = "ads" %}

{% set page_title = _('ads') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block styles %}
{{ super() }}

{% endblock styles %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ _('show '~page_title~' data') }}</h3>
            <div class="card-tools">
                <form method="GET" name="search_form" action="{{ url_for('back.ads_search') }}">
                    <div class="input-group input-group-sm" style="width: 250px;">
                        <input id="{{ search_form.query.id }}" type="text" name="{{ search_form.query.name }}"
                            class="form-control float-right" placeholder="{{ search_form.query.label.text }}">

                        <div class="input-group-append">
                            <button id="{{ search_form.submit.id }}" name="{{ search_form.submit.name }}" type="submit"
                                class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>{{ _('action') }}</th>
                        <th>NO</th>
                        <th>{{ _('owners') }}</th>
                        <th>{{ _('property type')}}</th>
                        <th>{{ _('brand name') }}</th>
                        <th>{{ _('gender of occupant') }}</th>
                        <th>{{ _('number of bedroom') }}</th>
                        <th>{{ _('type of bathroom') }}</th>
                        <th>{{ _('number of bathroom') }}</th>
                        <th>{{ _('location close to') }}</th>
                        <th>{{ _('address') }}</th>
                        <th>{{ _('amenities') }}</th>
                        <th>{{ _('rental price') }}</th>
                        <th>{{ _('duration of ease') }}</th>
                        <th>{{ _('mobile number') }}</th>
                        <th>{{ _('whatsapp number') }}</th>
                        <th>{{ _('additional info') }}</th>
                        <th>{{ _('ads packages') }}</th>
                        <th>{{ _('ads duration') }}</th>
                        <th>{{ _('ads total cost') }}</th>
                        <th>{{ _('email') }}</th>
                        <th>{{ _('feedback') }}</th>
                        <th>{{ _('accept policy') }}</th>
                        <th>{{ _('status')}}</th>
                        <th>{{ _('created at') }}</th>
                        <th>{{ _('updated at') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in ads %}
                    <tr>
                        <td>
                            <!-- change status badge -->
                            {%- if data.is_active() %}
                            <a href="#adsDeactivate{{data.public_id}}Modal" type="button" data-toggle="modal"
                                class="badge badge-secondary">{{_('deactivate')}}</a>

                            {{ basic_modal(modal_name="adsDeactivate"~data.public_id, title=_("confirm deactivate
                            ads"),
                            messages="
                            <p class='text-wrap'>are you sure deactivate ads
                                <strong>"~data.brand_name~"</strong> ? This
                                perform will
                                immediately eliminate ads home page. <strong>The customer cannot
                                    view this ads!</strong>.
                            </p>
                            ", url=url_for('back.ads_change_status', public_id=data.public_id)) }}
                            {% else %}
                            <a href="{{ url_for('back.ads_change_status', public_id=data.public_id) }}"
                                class="badge badge-primary">{{_('activate')}}</a>
                            {%- endif %}
                            <!-- edit badge -->
                            <a href="{{ url_for('back.ads_update', public_id=data.public_id) }}"
                                class="badge badge-warning">{{_('edit')}}</a>
                            <!-- delete badge -->
                            <a href="#adsConfirmDelete{{data.public_id}}Modal" type="button" data-toggle="modal"
                                class="badge badge-danger">{{_('delete')}}</a>

                            {{ basic_modal(modal_name="adsConfirmDelete"~data.public_id, title=_("confirm delete
                            ads"),
                            messages="are you sure delete ads <strong>"~data.brand_name~"</strong> ? <br> This
                            operation will remove this data in homepage.",
                            url=url_for('back.ads_delete', public_id=data.public_id)) }}
                        </td>
                        <td>{{ loop.index }}</td>
                        <td>{{ data.user.email }}</td>
                        <td>{{ data.property_type.value }}</td>
                        <td>{{ data.brand_name }}</td>
                        <td>{{ data.gender_of_occupant.value }}</td>
                        <td>{{ data.number_bedroom_available }}</td>
                        <td>{{ data.type_of_bathroom.value }}</td>
                        <td>{{ data.number_of_bathroom }}</td>
                        <td>{{ data.location.location_name }}</td>
                        <td>{{ data.address }}</td>
                        <td>
                            <ul>
                                {% for amenities in data.amenities %}
                                <li>{{ amenities.amenities_name|safe }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ format_price(data.rental_price) }} </td>
                        <td>{{ data.duration_of_ease.value }}</td>
                        <td>{{ data.mobile_number }}</td>
                        <td>{{ data.whatsapp_number }}</td>
                        <td>{{ data.additional_info }}</td>
                        <td>
                            <ul>
                                {% for ads_package in data.ads_packages %}
                                <li>{{ ads_package.description|safe }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ format_duration(data.remaining_time) }} </td>
                        <td>{{ format_price(data.ads_cost) }} </td>
                        <td>{{ data.email }}</td>
                        <td>{{ data.feedback }}</td>
                        <td>{{ data.accept_policy }}</td>
                        <td>
                            {% if data.status is true %}
                            {{ _('active') }}
                            {% elif data.status is false %}
                            {{ _('not active') }}
                            {% endif %}
                        </td>
                        <td>{% if data.created_at %}{{ moment(data.created_at, local=True).format('LLLL') }}{% endif %}
                        </td>
                        <td>{% if data.updated_at %} {{ moment(data.updated_at, local=True).format('LLLL') }}{% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            {% if pagination is defined %}
            {{ render_pagination(pagination, '.ads') }}
            {% else %}
            {{ render_pagination_search_result(prev_url, next_url) }}
            {% endif %}
        </div>
        <!--/.card-footer-->
    </div>
    <!-- /.card -->
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}

{% endblock scripts %}