{% extends "back/base_back.html" %}
{% from "back/_macros.html" import render_field, render_field_with_errors, render_field_checkbox_with_errors %}
{% set active_page = "create_amenities" %}

{% set page_title = _('create amenities') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block styles %}
{{ super() }}
<!-- Summernote -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/summernote/summernote-bs4.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/summernote-ext-emoji-ajax/summernote-ext-emoji-ajax.css') }}">
{% endblock styles %}

{% block content %}
<div class="col-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">{{ page_title }}</h3>
        </div>
        <form class="form-signin" method="POST" name="create_amenities_form">
            {{ create_amenities_form.csrf_token() }}
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        {{ render_field_with_errors(create_amenities_form.amenities_name, id="summernote",
                        placeholder=_("ex: Bedroom"), required="required") }}
                        {{ render_field_checkbox_with_errors(create_amenities_form.status) }}
                    </div>
                    <div class="col-6">
                        {{ render_field_with_errors(create_amenities_form.description, id="summernote2",
                        placeholder=_("decsription"))
                        }}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {{ render_field(create_amenities_form.submit, class_="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<!-- Summernote -->
<script src="{{ url_for('static', filename='plugins/summernote/summernote-bs4.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='plugins/summernote-ext-emoji-ajax/summernote-ext-emoji-ajax.js') }}"></script>
<script>
    $(function () {
        $('#summernote').summernote({
            height: 200,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['color', ['color']],
                ['insert', ['link', 'emoji']],
                ['code', ['codeview']],
            ]
        })
    });
    $(function () {
        $('#summernote2').summernote({
            height: 200,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['color', ['color']],
                ['insert', ['link', 'emoji']],
                ['code', ['codeview']],
            ]
        })
    })
</script>
{% endblock scripts %}