{%- block html %}
<!doctype html>
<html lang="id">
{%- block head %}

<head>
    <title>{%- block title %}{{ app | upper }}{%- endblock title %}</title>
    {%- block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock meta %}
    {%- block styles %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <!-- Custome CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/custome.css') }}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ app_favicon_apple_src }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ app_favicon_32_src }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ app_favicon_16_src }}">
    <link rel="manifest" href="{{ app_site_webmanifest_src }}">
    {%- endblock styles %}
</head>
{%- endblock head %}
{%- block body %}

<body>
    {%- block content %}
    {%- endblock content %}
    {%- block toast_or_modal %}
    {%- endblock toast_or_modal %}
    {%- block scripts %}
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <!-- Custome Javascript for template -->
    <script src="{{ url_for('static', filename='js/front/custome.js') }}"></script>
    <!-- Flask-Moment -->
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    {{ moment.locale(g.locale) }}
    {% endblock scripts %}
</body>
{%- endblock body %}

</html>
{%- endblock html %}