{% extends "back/base_back.html" %}
{% from "back/_macros.html" import render_field, render_field_with_errors %}
{% set active_page = "create_user" %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<div class="col-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">{{ page_title }}</h3>
        </div>
        <form class="form-signin" action="{{ url_for('back.user_create') }}" method="POST" name="register_user_form">
            <div class="card-body">
                {{ register_user_form.csrf_token() }}
                {{ render_field_with_errors(register_user_form.email, class_="form-control",
                placeholder="email@address.tld", required="required") }}
                {{ render_field_with_errors(register_user_form.password, class_="form-control",
                placeholder="password", required="required") }}
                {% if register_user_form.password_confirm %}
                {{ render_field_with_errors(register_user_form.password_confirm, class_="form-control",
                placeholder="Confirm Password", required="required") }}
                {{ render_field_with_errors(register_user_form.role, class_="form-control") }}
                {% endif %}
            </div>
            <div class="card-footer">
                {{ render_field(register_user_form.submit, class_="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock content %}