{% extends "back/base_back.html" %}
{% from "back/_macros.html" import basic_modal, render_pagination, render_pagination_search_result %}
{% set active_page = "user" %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ _('show '~page_title~' data') }}</h3>
            <div class="card-tools">
                <form method="GET" name="search_form" action="{{ url_for('back.user_search') }}">
                    <div class="input-group input-group-sm" style="width: 250px;">
                        <input id="{{ search_form.query.id }}" type="text" name="{{ search_form.query.name }}"
                            class="form-control float-right" placeholder="{{ search_form.query.label.text }}">

                        <div class="input-group-append">
                            <button id="{{ search_form.submit.id }}" name="{{ search_form.submit.name }}" type="submit"
                                class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>{{ _('action') }}</th>
                        <th>NO</th>
                        <th>{{ _('email')}}</th>
                        <th>{{ _('role') }}</th>
                        <th>{{ _('username') }}</th>
                        <th>{{ _('active') }}</th>
                        <th>{{ _('last login at')}}</th>
                        <th>{{ _('current login at') }}</th>
                        <th>{{ _('last login ip') }}</th>
                        <th>{{ _('current login ip') }}</th>
                        <th>{{ _('login count') }}</th>
                        <th>{{ _('tf primary method') }}</th>
                        <th>{{ _('user created at') }}</th>
                        <th>{{ _('user last update at') }}</th>
                        <th>{{ _('user confirmed at') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in users %}
                    <tr>
                        <td>
                            {%- if data.active %}
                            <a href="#userDeactivate{{loop.index}}Modal" type="button" data-toggle="modal"
                                class="badge badge-secondary">{{_('deactivate')}}</a>

                            {{ basic_modal(modal_name="userDeactivate"~loop.index, title=_("confirm deactivate user"),
                            messages="
                            <p class='text-wrap'>are you sure deactivate user <strong>"~data.email~"</strong> ? This
                                perform will
                                immediately disallow access to all endpoints that require authentication either via
                                session or tokens. <strong>The user will not be able to log in again</strong>.</p>
                            ", url=url_for('back.user_change_active', email=data.email)) }}
                            {% else %}
                            <a href="{{ url_for('back.user_change_active', email=data.email) }}"
                                class="badge badge-primary">{{_('activate')}}</a>
                            {%- endif %}

                            <a href="#userResetAccess{{loop.index}}Modal" type="button" , data-toggle="modal"
                                class="badge badge-warning">{{_('reset')}}</a>

                            {{ basic_modal(modal_name="userResetAccess"~loop.index, title=_("confirm reset access
                            user"),
                            messages="
                            <p>are you sure reset access user <strong>"~data.email~"</strong> ? This perform will :</p>
                            <ul class='text-wrap'>
                                <li>which causes session cookie, remember cookie, auth tokens to be unusable</li>
                                <li>cause auth tokens to be unusable</li>
                                <li>remove all unified signin TOTP secrets so those can’t be used</li>
                                <li>remove all two-factor secrets so those can’t be used</li>
                            </ul>
                            ",
                            url=url_for('back.user_reset_access', email=data.email)) }}

                            <a href="#userConfirmDelete{{loop.index}}Modal" type="button" data-toggle="modal"
                                class="badge badge-danger">{{_('delete')}}</a>

                            {{ basic_modal(modal_name="userConfirmDelete"~loop.index, title=_("confirm delete user"),
                            messages="are you sure delete user <strong>"~data.email~"</strong> ?",
                            url=url_for('back.user_delete', email=data.email)) }}
                        </td>
                        <td>{{ loop.index }}</td>
                        <td>{{ data.email }}</td>
                        <td>
                            {% if data.roles %}
                            {%- for x in data.roles %}
                            {{ x.name ~', ' }}
                            {%- endfor %}
                            {% else %}
                            {{_('no have roles')}}
                            {% endif %}
                        </td>
                        <td>{{ data.username }}</td>
                        <td>{{ data.active }}</td>
                        <td>{{ moment(data.last_login_at, local=True).format('LLLL') }}</td>
                        <td>{{ moment(data.current_login_at, local=True).format('LLLL') }}</td>
                        <td>{{ data.last_login_ip }}</td>
                        <td>{{ data.current_login_ip }}</td>
                        <td>{{ data.login_count }}</td>
                        <td>
                            {% if data.tf_primary_method %}
                            {% if data.tf_primary_method == "sms" %}
                            {{ data.tf_primary_method }} [{{ data.tf_phone_number }}]
                            {% else %}
                            {{ data.tf_primary_method }}
                            {% endif %}
                            {% else %}
                            {{ _('no setup') }}
                            {% endif %}
                        </td>
                        <td>{{ moment(data.create_datetime, local=True).format('LLLL') }}</td>
                        <td>{{ moment(data.update_datetime, local=True).format('LLLL') }}</td>
                        <td>{{ moment(data.confirmed_at, local=True).format('LLLL') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            {% if pagination is defined %}
            {{ render_pagination(pagination, '.user') }}
            {% else %}
            {{ render_pagination_search_result(prev_url, next_url) }}
            {% endif %}
        </div>
        <!--/.card-footer-->
    </div>
    <!-- /.card -->
</div>
{% endblock content %}