{% macro render_field_with_errors(field) %}
<p>
    {{ field.label }} {{ field(**kwargs)|safe }}
    {% if field.errors %}
<ul>
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
</p>
{% endmacro %}

{% macro render_field(field) %}
<p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}

{% macro render_field_errors(field) %}
<p>
    {% if field and field.errors %}
<div class="alert alert-danger" role="alert">
    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
</div>
{% endif %}
</p>
{% endmacro %}

{% macro render_field_with_errors_no_labels(field) %}
<div class="input-group mb-3">
    {%- if field.errors %}
    {%- set update_aria = kwargs.update({'aria_describedby': field.id~'-error'}) %}
    {%- set update_class = kwargs.update({'class': 'form-control is-invalid'}) %}
    {{ field(class=update_class, aria_describedby=update_aria, **kwargs) }}
    <span id="{{ field.id }}-error" class="invalid-feedback">
        {% for error in field.errors %}
        {{ error|e }}
        {% endfor %}
    </span>
    {% else %}
    {{ field(**kwargs)|safe }}
    {% endif %}
</div>
{% endmacro %}

{% macro render_field_with_errors_form_check(field) %}
<div class="form-check">
    {%- if field.errors %}
    {%- set update_aria = kwargs.update({'aria_describedby': field.id~'-error'}) %}
    {%- set update_class = kwargs.update({'class': 'form-control is-invalid'}) %}
    {{ field(class=update_class, aria_describedby=update_aria, **kwargs) }}
    <span id="{{ field.id }}-error" class="invalid-feedback">
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </span>
    {% else %}
    {{ field(**kwargs)|safe }} {{ field.label }}
    {% endif %}
</div>
{% endmacro %}

{% macro render_field_with_errors_no_labels_without_input_group(field) %}
{{ field(**kwargs)|safe }}
{% if field.errors %}
<div class="alert alert-danger" role="alert">
    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro render_field_with_errors_no_labels_with_icons(field) %}
<div class="input-group">
    {{ field(**kwargs)|safe }}
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="{{ field(icons, **kwargs) }}"></span>
        </div>
    </div>
</div>
{% endmacro %}}