<!doctype html>
<html lang="en">

<head>
    {%- block head %}
    {%- block metas %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="none, noarchive, nocache">
    <meta name="title" content="{{ page_title ~' - '~ app | title }}">
    {%- endblock metas %}
    {%- block styles %}
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- FontAwesome-Free -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <!-- Admin LTE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}">
    {%- endblock styles %}

    <title>{%- block title %} {{ app | title }} {%- endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/AdminLTELogo.png') }}" />
    {%- endblock head %}
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="/" class="h1">{{ app | title }}</a>
            </div>
            <div class="card-body">
                <!-- Your page content -->
                {%- block content %}{%- endblock content %}
            </div>
        </div>
        <!-- Card -->
    </div>


    {%- block scripts %}
    <!-- JQUERY -->
    <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- AdminLTE -->
    <script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    {{ moment.locale(g.locale) }}
    {%- endblock scripts %}
</body>

</html>