{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors_no_labels, render_field %}
{% set page_title = _('change password') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
{% include "security/_messages.html" %}
<p class="login-box-msg">{{ page_title }}</p>
<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
    {{ change_password_form.csrf_token() }}
    {{ render_field_with_errors_no_labels(change_password_form.password, class_="form-control",
    placeholder=_("old password"), required="required") }}
    {{ render_field_with_errors_no_labels(change_password_form.new_password, class_="form-control",
    placeholder=_("new password"), required="required") }}
    {{ render_field_with_errors_no_labels(change_password_form.new_password_confirm, class_="form-control",
    placeholder=_("retype new password"), required="required") }}
    {{ render_field(change_password_form.submit, class_="btn btn-primary btn-block") }}
</form>
{% endblock %}