{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field, render_field_errors, render_field_with_errors_no_labels %}
{% set page_title = _('send password reset instructions') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<p class="login-box-msg">{{ page_title }}</p>
{% include "security/_messages.html" %}
<form class="form-signin" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
    {{ forgot_password_form.hidden_tag() }}
    {{ render_field_errors(forgot_password_form.csrf_token) }}
    {{ render_field_with_errors_no_labels(forgot_password_form.email, class_="form-control",
    placeholder="email@address.tld", required="required") }}
    {{ render_field(forgot_password_form.submit,class_="btn btn-primary btn-block") }}
</form>
{% include "security/_menu.html" %}
{% endblock %}