{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field, render_field_errors, render_field_with_errors_no_labels,
render_field_with_errors_no_labels_without_input_group %}
{% set page_title = _('login user') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<p class="login-box-msg">{{ page_title }}</p>
{% include "security/_messages.html" %}
<form class="form-signin" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
    {{ login_user_form.hidden_tag() }}
    {{ render_field_errors(login_user_form.csrf_token) }}
    {{ render_field_with_errors_no_labels(login_user_form.email, class_="form-control",
    placeholder="email@address.tld", required="required") }}
    {{ render_field_with_errors_no_labels(login_user_form.password, class_="form-control",
    placeholder=_("password"), required="required") }}
    <div class="row">
        <div class="col-8">
            <div class="icheck-primary">
                {{ render_field_with_errors_no_labels_without_input_group(login_user_form.remember) }}
                <label for="remember">
                    {{ _('remember me') | title }}
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
            {{ render_field(login_user_form.submit, class_="btn btn-primary btn-block" ) }}
        </div>
        <!-- /.col -->
    </div>
</form>
{% include "security/_menu.html" %}
{% endblock content %}