{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field,render_field_errors, render_field_with_errors_no_labels %}
{% set page_title = _('register user') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<p class="login-box-msg">{{ page_title }}</p>
{% include "security/_messages.html" %}
<form class="form-signin" action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
  {{ register_user_form.hidden_tag() }}
  {{ render_field_errors(register_user_form.csrf_token) }}
  {{ render_field_with_errors_no_labels(register_user_form.first_name, class_="form-control",
  placeholder="first name", required="required") }}
  {{ render_field_with_errors_no_labels(register_user_form.last_name, class_="form-control",
  placeholder="last name") }}
  {{ render_field_with_errors_no_labels(register_user_form.email, class_="form-control",
  placeholder="email@address.tld", required="required") }}
  {{ render_field_with_errors_no_labels(register_user_form.password, class_="form-control",
  placeholder=_("password"), required="required") }}
  {% if register_user_form.password_confirm %}
  {{ render_field_with_errors_no_labels(register_user_form.password_confirm, class_="form-control",
  placeholder=_("confirm password"), required="required") }}
  {% endif %}
  {{ render_field(register_user_form.submit, class_="btn btn-primary btn-block") }}
</form>
{% include "security/_menu.html" %}
{% endblock %}