{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field, render_field_with_errors_no_labels %}
{% set page_title = _('reset password') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<p class="login-box-msg">{{ page_title }}</p>
{% include "security/_messages.html" %}
<form class="form-signin" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST"
    name="reset_password_form">
    {{ reset_password_form.csrf_token() }}
    {{ render_field_with_errors_no_labels(reset_password_form.password,class_="form-control", placeholder=_("password"),
    required="required") }}
    {{ render_field_with_errors_no_labels(reset_password_form.password_confirm,class_="form-control",
    placeholder=_("retype password"), required="required") }}
    {{ render_field(reset_password_form.submit,class="btn btn-primary btn-block" ) }}
</form>
{% include "security/_menu.html" %}
{% endblock %}