{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field, render_field_with_errors_no_labels %}
{% set page_title = _('Resend confirmation instructions') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<p class="login-box-msg">{{ page_title }}</p>
{% include "security/_messages.html" %}
<form class="form-signin" action="{{ url_for_security('send_confirmation', token=send_confirmation_token) }}"
    method="POST" name="send_confirmation_form">
    {{ send_confirmation_form.csrf_token() }}
    {{ render_field_with_errors_no_labels(send_confirmation_form.email, class_="form-control",
    placeholder="email@address.tld", required="required") }}
    {{ render_field(send_confirmation_form.submit,class="btn btn-primary btn-block") }}
</form>
{% include "security/_menu.html" %}
{% endblock %}