{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors_no_labels, render_field %}
{% set page_title = _('login') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<p class="login-box-msg">{{ page_title }}</p>
{% include "security/_messages.html" %}
<form action="{{ url_for_security('login') }}" method="POST" name="send_login_form">
    {{ send_login_form.csrf_token() }}
    {{ render_field_with_errors_no_labels(send_login_form.email, class_="form-control",
    placeholder="email@address.tld", required="required") }}
    {{ render_field(send_login_form.submit, class_="btn btn-primary btn-block") }}
</form>
{% include "security/_menu.html" %}
{% endblock %}