{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors_no_labels, render_field,
render_field_with_errors_form_check %}
{% set page_title = _('Please enter your authentication code') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<p class="login-box-msg">{{ page_title }}</p>
{% include "security/_messages.html" %}
<form action="{{ url_for_security('two_factor_token_validation') }}" method="POST" name="two_factor_verify_code_form">
  {{ two_factor_verify_code_form.csrf_token() }}
  {{ render_field_with_errors_no_labels(two_factor_verify_code_form.code, placeholder=_("enter code"),
  class_="form-control", required="required") }}
  {{ render_field(two_factor_verify_code_form.submit, class_="btn btn-primary btn-block") }}
</form>
<div class="text-center">
  <small>
    <a href="#helpSetupModal" data-toggle="modal" type="button">
      {{ _('using another methods') | title }}
    </a>
  </small>
</div>

<!-- Modal -->
<div class="modal fade" id="helpSetupModal" tabindex="-1" aria-labelledby="helpSetupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helpSetupModalLabel">{{ _('select another methods') | title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{ url_for_security('two_factor_rescue') }}" method="POST" name="two_factor_rescue_form">
        <div class="modal-body">
          {{ two_factor_rescue_form.csrf_token() }}
          {% for subfield in two_factor_rescue_form.help_setup %}
          {{ render_field_with_errors_form_check(subfield, class_="form-check-input", required="required") }}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('close') | title }}</button>
          {{ render_field(two_factor_rescue_form.submit, class_="btn btn-primary btn-block") }}
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Toast -->
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
  <div id="helpSetupToast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true"
    data-delay="4000">
    <div class="toast-header">
      <img src="{{ app_logo_src }}" width="20px" class="rounded mr-2" alt="{{ app }}">
      <strong class="mr-auto">{{ _('send new request authentication code') | title }}</strong>
      <small>{{ _('just now') | title }}</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      {% if problem=="lost_device" %}
      {{ _("The code for authentication was sent to your email address") }}
      {% endif %}
      {% if problem=="no_mail_access" %}
      {{ _("A mail was sent to us in order to reset your application account") }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% if problem %}
<script type="text/javascript">
  $('#helpSetupToast').toast('show')
</script>
{% endif %}
{% endblock scripts %}