{#
This template receives different input based on state of tf-setup. In addition
to form values the following are available:
On GET:
choices: Value of SECURITY_TWO_FACTOR_ENABLED_METHODS (with possible addition of 'delete'
two_factor_required: Value of SECURITY_TWO_FACTOR_REQUIRED
On successful POST:
chosen_method: which 2FA method was chosen (e.g. sms, authenticator)
choices: Value of SECURITY_TWO_FACTOR_ENABLED_METHODS

If chosen_method == 'authenticator':
authr_qrcode: the image source for the qrcode
authr_key: same key as in qrcode - for possible manual entry
authr_username: same username as in qrcode
authr_issuer: same issuer as in qrcode
#}

{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field, render_field_with_errors_form_check,
render_field_with_errors_no_labels, render_field_errors %}
{% set page_title = _('setup two-factor authentication') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<h5>{{ _("Two-factor authentication adds an extra layer of security to your account") }}</h5>
<p>{{ _("In addition to your username and password, you'll need to use a code that we will send you") }}</p>
{% include "security/_messages.html" %}
{{ render_field_errors(two_factor_setup_form.setup) }}
<form action="{{ url_for_security('two_factor_setup') }}" method="POST" name="two_factor_setup_form">
    {{ two_factor_setup_form.csrf_token() }}
    {% for subfield in two_factor_setup_form.setup %}
    {% if subfield.data in choices %}
    {{ render_field_with_errors_form_check(subfield, class_="form-check-input") }}
    {% endif %}
    {% endfor %}
    {{ render_field(two_factor_setup_form.submit, class_="btn btn-primary btn-block") }}
    {% if chosen_method=="email" and chosen_method in choices %}
    <p>{{ _("To complete logging in, please enter the code sent to your mail") }}</p>
    {% endif %}
    {% if chosen_method=="authenticator" and chosen_method in choices %}
    <hr>
    <div class="center">
        <div>
            {{ _("Open an authenticator app on your device and scan the following QRcode (or enter the code
            below manually) to start receiving codes:") }}
        </div>
        <div>
            <img alt="{{ _('Two factor authentication code') }}" id="qrcode" src="{{ authr_qrcode }}">
        </div>
        <div>
            {{ authr_key }}
        </div>
    </div>
    {% endif %}
    {% if chosen_method=="sms" and chosen_method in choices %}
    <p>{{ _("To Which Phone Number Should We Send Code To?") }}</p>
    {{ two_factor_setup_form.csrf_token() }}
    {{ render_field_with_errors_no_labels(two_factor_setup_form.phone, class_="form-control",
    placeholder=_("enter phone number")) }}
    {{ render_field(two_factor_setup_form.submit, class_="btn btn-primary btn-block") }}
    {% endif %}
</form>
<hr>
<form action="{{ url_for_security('two_factor_token_validation') }}" method="POST" name="two_factor_verify_code_form">
    {{ two_factor_verify_code_form.csrf_token() }}
    {{ render_field_with_errors_no_labels(two_factor_verify_code_form.code, class_="form-control",
    placeholder=_("passcode"), required="required") }}
    {{ render_field(two_factor_verify_code_form.submit, class_="btn btn-primary btn-block") }}
</form>
{% include "security/_menu.html" %}
{% endblock %}