{#
This template receives the following pieces of context in addition to the form:
On GET:
available_methods: Value of SECURITY_US_ENABLED_METHODS
active_methods: Which methods user has already set up
setup_methods: Which methods require a setup (e.g. password doesn't require any setup)

On successful POST:
available_methods: Value of SECURITY_US_ENABLED_METHODS
active_methods: Which methods user has already set up
setup_methods: Which methods require a setup (e.g. password doesn't require any setup)
chosen_method: which identity method was chosen (e.g. sms, authenticator)
code_sent: Was a code sent?
state: a signed state token used to validate the code.

If chosen method is 'authenticator' then additionally:
authr_qrcode: the image source for the qrcode
authr_key: same key as in qrcode - for possible manual entry
authr_username: same username as in qrcode
authr_issuer: same issuer as in qrcode
#}

{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors,
render_field_with_errors_no_labels, render_field_with_errors_form_check %}
{% set page_title = _('setup unified signin options') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}
<p class="login-box-msg">{{ page_title }}</p>
{% include "security/_messages.html" %}
{{ render_field_errors(us_setup_form.chosen_method) }}
<form action="{{ url_for_security('us_setup') }}" method="POST" name="us_setup_form">
    {{ us_setup_form.csrf_token() }}
    {% if setup_methods %}
    <p>Currently Active options:
        {% if active_methods %}
        {{ ", ".join(active_methods) }}
        {% else %}
        None.
        {% endif %}
    </p>
    {% for subfield in us_setup_form.chosen_method %}
    {% if subfield.data in available_methods %}
    {{ render_field_with_errors_form_check(subfield, class_="form-check-input") }}
    {% endif %}
    {% endfor %}

    {% if "sms" in available_methods %}
    {{ render_field_with_errors_no_labels(us_setup_form.phone, class_="form-control", placeholder=_("phone number")) }}
    {% endif %}
    {{ render_field(us_setup_form.submit, class_="btn btn-primary btn-block") }}

    {% if chosen_method == "authenticator" %}
    <hr>
    <div class="center">
        <div>
            {{ _("Open an authenticator app on your device and scan the following QRcode (or enter the code
            below manually) to start receiving passcodes:") }}
        </div>
        <div>
            <img alt="{{ _(' Passwordless QRCode') }}" id="qrcode" src="{{ authr_qrcode }}">
        </div>
        <div>
            {{ authr_key }}
        </div>
    </div>
    {% endif %}
    {% else %}
    <h3>{{ _("No methods have been enabled - nothing to setup") }}</h3>
    {% endif %}
</form>
{% if state %}
<hr>
<form action="{{ url_for_security('us_setup_validate', token=state) }}" method="POST" name="us_setup_validate_form">
    {{ us_setup_validate_form.csrf_token() }}
    {{ render_field_with_errors_no_labels(us_setup_validate_form.passcode, class_="form-control",
    placeholder=_("passcode"), required="required") }}
    {{ render_field(us_setup_validate_form.submit, class_="btn btn-primary btn-block") }}
</form>

<!-- Toast -->
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
    <div id="helpSetupToast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true"
        data-delay="4000">
        <div class="toast-header">
            <img src="{{ app_logo_src }}" width="20px" class="rounded mr-2" alt="{{ app }}">
            <strong class="mr-auto">{{ _('send new request authentication code') | title }}</strong>
            <small>{{ _('just now') | title }}</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            {{ _('new code has been sent') }}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% if code_sent %}
<script type="text/javascript">
    $('#helpSetupToast').toast('show')
</script>
{% endif %}
{% endblock scripts %}