{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors_no_labels, render_field_with_errors_form_check,
render_field, render_field_errors %}
{% set page_title = _('Please re-authenticate') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<p class="login-box-msg">{{ page_title }}</p>
{% include "security/_messages.html" %}
{{ render_field_errors(us_verify_form.chosen_method) }}
<form action="{{ url_for_security('us_verify') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode
    }}{% endif %}" method="POST" name="us_verify_form">
    {{ us_verify_form.csrf_token() }}
    {{ render_field_with_errors_no_labels(us_verify_form.passcode, class_="form-control") }}
    {{ render_field(us_verify_form.submit, class_="btn btn-primary btn-block") }}

    {% if code_methods %}
    <div class="text-center">
        <small>
            <a href="#helpSetupModal" data-toggle="modal" type="button">
                {{ _('Request one-time code be sent to') | title }}
            </a>
        </small>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="helpSetupModal" tabindex="-1" aria-labelledby="helpSetupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpSetupModalLabel">{{ _('select another methods') | title }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        {% for subfield in us_verify_form.chosen_method %}
                        {% if subfield.data in code_methods %}
                        {{ render_field_with_errors_form_check(subfield, class_="form-check-input") }}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            {{ _('close') | title }}
                        </button>
                        {{ render_field(us_verify_form.submit_send_code, formaction=send_code_to,
                        class_="btn btn-primary btn-block") }}
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Toast -->
    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
        <div id="helpSetupToast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true"
            data-delay="4000">
            <div class="toast-header">
                <img src="{{ app_logo_src }}" width="20px" class="rounded mr-2" alt="{{ app }}">
                <strong class="mr-auto">{{ _('send new request authentication code') | title }}</strong>
                <small>{{ _('just now') | title }}</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {{ _('new code has been sent') }}
            </div>
        </div>
    </div>

    {% endif %}
</form>
{% include "security/_menu.html" %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% if code_sent %}
<script type="text/javascript">
    $('#helpSetupToast').toast('show')
</script>
{% endif %}
{% endblock scripts %}