{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors_no_labels, render_field %}
{% set page_title = _('Please Enter Your Password') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<p class="login-box-msg">{{ page_title }}</p>
{% include "security/_messages.html" %}
<form action="{{ url_for_security('verify') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{%
    endif %}" method="POST" name="verify_form">
    {{ verify_form.csrf_token() }}
    {{ render_field_with_errors_no_labels(verify_form.password, class_="form-control", placeholder=_("password"),
    required="required") }}
    {{ render_field(verify_form.submit, class_="btn btn-primary btn-block") }}
</form>
{% endblock %}