{% extends "front/panel/base_panel.html" %}
{% from "front/_macros.html" import render_pagination, render_pagination_search_result %}
{%- block meta %}
{{ super() }}
<meta name="title" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
{%- endblock meta %}
{%- block title %}
{{ page_title ~' - '~ super() }}
{%- endblock title %}
{% block panel_content %}
<form class="d-flex flex-wrap justify-content-end" name="search_form" , method="GET"
    action="{{ url_for('front.panel_ads_search') }}">
    <div class="form-group m-1">

        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">🏠</div>
            </div>
            <select id="form-search-sort" class="form-control">
                <option selected="" value="">Urutkan Berdasarkan</option>
                <option value="new">Diterbitkan Terbaru</option>
                <option value="old">Diterbitkan Terlama</option>
            </select>
        </div>
    </div>
    <div class="form-group m-1">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">📍</div>
            </div>
            <input class="form-control mr-sm-2" type="search" id="{{ search_form.query.id }}"
                name="{{ search_form.query.name }}" placeholder="{{ search_form.query.label.text }}"
                aria-label="Search">
        </div>
    </div>
    <div class="form-group m-1"><button type="submit" class="btn btn-primary mb-2">🔍 {{ _('Search') }}</button>
    </div>
</form>
<div class="list-adds">
    {% for data in ads %}
    <div class="card border-primary my-2">
        <div class="card-body p-2">
            <div class=" position-absolute"><small>📌</small></div>
            <div class="d-flex flex-sm-row justify-content-between align-items-center flex-column bd-highlight">
                <div class="d-flex flex-sm-row align-items-center">
                    <div class="p-2 bd-highlight">
                        <img src="{{ url_for('static', filename='img/front/placeholder-property.svg')  }}"
                            class="img-thumbnail" alt="Nama Properti" width="80" height="80">
                    </div>
                    <div class="p-2 bd-highlight d-flex flex-column">
                        <div class="p-0"><strong>📛 {{ data.brand_name }}</strong></div>
                        <div class="p-0">💸 {{ format_price(data.rental_price) ~'/'~ data.duration_of_ease.value }}
                        </div>
                        <div class="p-0">📍 {{ data.location.location_name }}</div>
                    </div>
                </div>
                <div class="p-2 bd-highlight d-flex flex-row text-center">
                    <div class="p-2">🏠 <br> {{ data.property_type.value }}</div>
                    <div class="p-2">👦 <br> {{ data.gender_of_occupant.value }}</div>
                    <div class="p-2">🛁 <br> {{ data.type_of_bathroom.value }}</div>
                    <div class="p-2">🪟 <br> {{ data.number_bedroom_available }} Km. Tidur</div>
                    <div class="p-2">🚿 <br> {{ data.number_of_bathroom }} Km. Mandi</div>
                </div>
                <div class="d-flex flex-sm-row align-items-center justify-content-between">
                    <div class="p-2 bd-highlight text-center">
                        📅 <br> {% if data.created_at %}{{ moment(data.created_at,
                        local=True).fromNow(no_suffix=False) }}{%
                        endif %}
                    </div>
                    <div class="p-2 bd-highlight">
                        <a href="{{ url_for('.home_ads_detail', public_id=data.public_id) }}" target="_blank"
                            class="btn btn-outline-primary my-2">👀 {{ _('Preview Ads') }}</a>
                        <a href="{{ url_for('.panel_ads_buy', public_id=data.public_id) }}" target="_blank"
                            class="btn btn-outline-primary my-2">💸 {{ _('Buy Ads') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<nav aria-label="Page navigation">
    {% if pagination is defined %}
    {{ render_pagination(pagination, '.panel_ads') }}
    {% else %}
    {{ render_pagination_search_result(prev_url, next_url) }}
    {% endif %}
</nav>
{% endblock panel_content %}