{%- extends "base.html" %}
{%- from "front/_notification.html" import render_notification %}
{%- from "front/_alert.html" import render_alert %}

{%- block meta %}
{{ super() }}
<meta name="robots" content="all, noarchive, nocache">
{%- endblock meta %}
<!--end meta-->

{% block content %}
{%- include "front/_header.html" %}
<main role="main">
    <section class="jumbotron">
        <div class="container-lg">
            <div class="d-flex flex-wrap justify-content-around">
                <div class="text-center">
                    <h3 class="display-4">90</h3>
                    <p>🚩 {{ _('Ad Installed') }}</p>
                </div>
                <div class="text-center">
                    <h3 class="display-4">220K</h3>
                    <p>💸 {{ _('Total Expense') }}</p>
                </div>
                <div class="text-center">
                    <h3 class="display-4">80x</h3>
                    <p>👇 {{ _('Ad on Click') }}</p>
                </div>
                <div class="text-center">
                    <h3 class="display-4">29x</h3>
                    <p>🗣️ {{ _('Ad on Share') }}</p>
                </div>
                <div class="text-center">
                    <h3 class="display-4">12x</h3>
                    <p>📞 {{ _('Ad in Contact') }}</p>
                </div>
            </div>
        </div>
    </section>
    {{ render_notification('primary', '👋 Daftarkan rumah kos ataupun kontrakan secara GRATIS selama masa pandemi.',
    '#', 'klik disini') }}
    <section class="container-lg">
        <div class="row">
            <aside class="col-12 col-md-3 mb-2">
                <div class="card card-body">
                    <ul class="nav flex-column list-group list-group-flush">
                        <li class="nav-item list-group-item p-0">
                            <a href="{{ url_for('front.panel_dashboard') }}" class="nav-link active">
                                📊 {{ _('Dashboard') }}
                            </a>
                        </li>
                        <li class="nav-item list-group-item p-0">
                            <a href="{{ url_for('front.panel_property') }}" class="nav-link active">
                                🏠 {{ _('My Property') }}
                            </a>
                        </li>
                        <li class="nav-item list-group-item p-0">
                            <a href="{{ url_for('front.panel_ads') }}" class="nav-link">
                                🚩 {{ _('My Ads') }}
                            </a>
                        </li>
                        <li class="nav-item list-group-item p-0">
                            <a href="{{ url_for('front.panel_transaction') }}" class="nav-link">
                                💸 {{ _('Transaction') }}
                            </a>
                        </li>
                        <li class="nav-item list-group-item p-0">
                            <a href="{{ url_for('front.panel_profile') }}" class="nav-link">
                                🙆 {{ _('Profil') }}
                            </a>
                        </li>
                        <li class="nav-item list-group-item p-0">
                            <a href="{{ url_for_security('logout') }}" class="nav-link">
                                ⭕ {{ _('Logout') }}
                            </a>
                        </li>

                    </ul>
                </div>
            </aside>
            <section class="col-12 col-md-9 mb-2">
                <div class="card card-body mb-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {%- for breadcrumb in breadcrumbs -%}
                            <li class="breadcrumb-item">
                                <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
                            </li>
                            {%- endfor -%}
                        </ol>
                    </nav>
                    {% block panel_content %}
                    {% endblock panel_content %}
                </div>
            </section>
        </div>
    </section>
</main>
{%- include "front/_footer.html" %}
{% endblock content %}
<!--end content-->