{% extends "front/panel/base_panel.html" %}
{% from "front/_macros.html" import render_pagination, render_pagination_search_result %}
{%- block meta %}
{{ super() }}
<meta name="title" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
{%- endblock meta %}
{%- block title %}
{{ page_title ~' - '~ super() }}
{%- endblock title %}
{% block panel_content %}
<h1>Dashboard</h1>
{% endblock panel_content %}