{% extends "front/panel/base_panel.html" %}
{% from "front/_macros.html" import render_field_form_group_prepend, render_field %}
{%- block meta %}
{{ super() }}
<meta name="title" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
{%- endblock meta %}
{%- block title %}
{{ page_title ~' - '~ super() }}
{%- endblock title %}
{% block panel_content %}
<div class="mb-2">
    <img alt="avatar" src="{{ current_user.avatar(128) }}" class="figure-img img-fluid rounded-circle mx-auto d-block"
        width="75" height="75">
    <figcaption class="figure-caption text-center">
        Gravatar
    </figcaption>
</div>
<form method="POST" action="{{ url_for('front.panel_profile') }}">
    {{ profile_form.csrf_token() }}
    <div class="form-row">
        {{ render_field_form_group_prepend(profile_form.first_name, icon="📛") }}
        {{ render_field_form_group_prepend(profile_form.last_name, icon="📛") }}
        {{ render_field_form_group_prepend(profile_form.email, icon="📧") }}
    </div>
    <div class="form-row">
        {{ render_field(profile_form.submit, class_="btn btn-primary") }}
    </div>
</form>
<hr>
<div class="">
    <h4 class="border-bottom border-gray pb-2 mb-0">{{ _('Settings') }}</h4>
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">{{ _('Change Password') }}</strong>
                <a href="{{ url_for_security('change_password') }}">{{ _('Click Here') }}</a>
            </div>
        </div>
    </div>
    {% if config["SECURITY_TWO_FACTOR"] %}
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">{{ _('Setup 2FA') }}</strong>
                {% if current_user.tf_primary_method %}
                {% if current_user.tf_primary_method == "sms" %}
                {{ current_user.tf_primary_method }} [{{ current_user.tf_phone_number }}] -
                {% else %}
                {{ current_user.tf_primary_method }} -
                {% endif %}
                {% else %}
                {{ _('no setup -') }}
                {% endif %}
                <a href="{{ url_for_security('two_factor_setup') }}">{{ _('Update Here') }}</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock panel_content %}