{% extends "front/panel/base_panel.html" %}
{%- block meta %}
{{ super() }}
<meta name="title" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
{%- endblock meta %}
{%- block title %}
{{ page_title ~' - '~ super() }}
{%- endblock title %}
{% block panel_content %}
<div class="card card-body 
            border-{% if transaction_status.name == 'capture' or transaction_status.name == 'settlement' or transaction_status.name == 'success' %}success
            {% elif transaction_status.name == 'pending' or transaction_status.name == 'authorize' %}warning
            {% elif transaction_status.name == 'deny' or transaction_status.name == 'expire' or transaction_status.name == 'expire' or transaction_status.name == 'failure' %}danger
            {% elif transaction_status.name == 'refund' or transaction_status.name == 'partial_refund' %}primary{% endif %}
             mb-2">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h6 class="text-muted">{{ _('Payment Status') }}</h6>
        {% if transaction_status.name == "capture" or transaction_status.name == "settlement" or
        transaction_status.name == "success" %}
        <p class="display-4">✅</p>
        {% elif transaction_status.name == "pending" or transaction_status.name == "authorize" %}
        <p class="display-4">🕒</p>
        {% elif transaction_status.name == "deny" or transaction_status.name == "expire" or
        transaction_status.name == "expire" or transaction_status.name == "failure" %}
        <p class="display-4">❌</p>
        {% elif transaction_status.name == "refund" or transaction_status.name == "partial_refund" %}
        <p class="display-4">↩️</p>
        {% endif %}
        <p class="display-4 font-weight-bold text-uppercase m-0">{{ transaction_status.value }}</p>
    </div>
</div>
<div class="card card-body mb-2">
    <div class="d-flex flex-wrap justify-content-between mb-2">
        <div class="card border-primary m-1">
            <div class="  card-body">
                <h6 class="text-muted">{{ _('Order ID') }}</h6>
                <p class="font-weight-bold m-0">{{ order_id }}</p>
            </div>
        </div>
        <div class="card border-primary m-1">
            <div class=" card-body">
                <h6 class="text-muted">{{ _('Amount') }}</h6>
                <p class="font-weight-bold m-0">{{ format_price(gross_amount) }}</p>
            </div>
        </div>
        <div class="card border-primary m-1">
            <div class=" card-body">
                <h6 class="text-muted">{{ _('Payment Method') }}</h6>
                <p class="font-weight-bold m-0">{{ payment_type.value }}</p>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-7">
            <div class="card mb-2">
                <div class="card-header">{{ _('Transaction Detail') }}</div>
                <div class="card-body p-0">
                    <table class="table table-hover table-responsive mb-0">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">{{ _('Transaction ID') }}</td>
                                <td>{{ transaction_id }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">{{ _('Time') }}</td>
                                <td>{{ moment(transaction_time, local=True).format('LLLL') }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">{{ _('Status') }}</td>
                                <td>{{ transaction_status.value }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="card mb-2">
                <div class="card-header">{{ _('Customer Detail') }}</div>
                <div class="card-body p-0">
                    <table class="table table-hover table-responsive mb-0">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">{{ _('Full Name') }}</td>
                                <td>Nama Pengguna</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">{{ _('Phone Number') }}</td>
                                <td>{{ mobile_number }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">{{ _('Email Address') }}</td>
                                <td>{{ email }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-2">
                <div class="card-header">{{ _('Items Detail') }}</div>
                <div class="card-body p-0">
                    <table class="table table-hover table-responsive mb-0">
                        <thead>
                            <tr>
                                <th scope="col">{{ _('Ads Name') }}</th>
                                <th scope="col">{{ _('Ads Description') }}</th>
                                <th scope="col">{{ _('Ads Duration') }}</th>
                                <th scope="col">{{ _('Price') }}</th>
                                <th scope="col">{{ _('Sub Total') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in ads_packages %}
                            <tr>
                                <td>{{ data.package_name }}</td>
                                <td>{{ data.description|safe }}</td>
                                <td>{{ format_duration(data.duration) }}</td>
                                <td>{{ format_price(data.discount_price) }}</td>
                                <td>{{ format_price(data.discount_price) }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" class="font-weight-bold">{{ _('Grand Total') }}</td>
                                <td class="font-weight-bold">{{ format_price(ads_cost) }}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock panel_content %}