{% extends "front/panel/base_panel.html" %}
{% from "front/_macros.html" import render_pagination, render_pagination_search_result %}
{%- block meta %}
{{ super() }}
<meta name="title" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
{%- endblock meta %}
{%- block title %}
{{ page_title ~' - '~ super() }}
{%- endblock title %}
{% block panel_content %}
<form class="d-flex flex-wrap justify-content-between" name="search_form" , method="GET"
    action="{{ url_for('front.panel_transaction_search') }}">
    <div class="form-group m-1">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">💸</div>
            </div>
            <select id="form-search-sort" class="form-control">
                <option value="" selected="selected">Tipe Pembayaran</option>
                <option value="BANK_TRANSFER">Bank Transfer</option>
                <option value="BCA_KLIKPAY">BCA Klikpay</option>
                <option value="MANDIRI_BILL">Mandiri Bill</option>
                <option value="GOPAY">GO-PAY</option>
                <option value="INDOMARET">Indomaret</option>
                <option value="ALFAMART">Alfamart</option>
                <option value="LINKAJA">LinkAja</option>
                <option value="CREDIT_CARD">Credit Card</option>
                <option value="CIMB_CLICKS">CIMB Clicks</option>
                <option value="AKULAKU">Akulaku</option>
                <option value="DANAMON_ONLINE">Danamon Online</option>
            </select>
        </div>
    </div>
    <div class="form-group m-1">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">💵</div>
            </div>
            <select id="form-search-sort" class="form-control">
                <option value="" selected="selected">Status Transaksi</option>
                <option value="Authorize">Authorize</option>
                <option value="Cancel">Cancel</option>
                <option value="Challenge">Challenge</option>
                <option value="Chargeback">Chargeback</option>
                <option value="Failure">Failure</option>
                <option value="Partial Settlement">Partial Settlement</option>
                <option value="Pending">Pending</option>
                <option value="Settlement">Settlement</option>
                <option value="Success">Success</option>
            </select>
        </div>
    </div>

    <div class="form-group m-1">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">📍</div>
            </div>
            <input class="form-control mr-sm-2" type="search" id="{{ search_form.query.id }}"
                name="{{ search_form.query.name }}" placeholder="{{ search_form.query.label.text }}"
                aria-label="Search">
        </div>
    </div>
    <div class="form-group m-1">
        <button type="submit" class="btn btn-primary mb-2">🔍</button>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">NO</th>
                <th scope="col">{{ _("Brand Name") }}</th>
                <th scope="col">{{ _("Payment Method") }}</th>
                <th scope="col">{{ _("Time") }}</th>
                <th scope="col">{{ _("Order ID") }}</th>
                <th scope="col">{{ _("Amount") }}</th>
                <th scope="col">{{ _('Status') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for data in transaction %}
            <tr>
                {% if data is not none %}
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ url_for('front.ads_detail', public_id=data.ads.public_id) }}">
                        {{ data.ads.brand_name }}
                    </a>
                </td>
                <td>{{ data.payment_method.value }}</td>
                <td>{% if data.created_at %}{{ moment(data.created_at, local=True).format('LLLL') }}{% endif %}</td>
                <td>
                    {% if data.transaction_status.name != "created" %}
                    <a href="{{ url_for('front.panel_transaction_detail', public_id=data.public_id) }}">
                        {{ data.public_id }}
                    </a>
                    {% else %}
                    {{ data.public_id }}
                    {% endif %}
                </td>
                <td>{{ format_price(data.ads.ads_cost) }}</td>
                <td class="table-success">{{ data.transaction_status.value }}</td>
                {% else %}
                <td colspan="7">{{ _('No data available.') }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation">
    {% if pagination is defined %}
    {{ render_pagination(pagination, '.panel_transaction') }}
    {% else %}
    {{ render_pagination_search_result(prev_url, next_url) }}
    {% endif %}
</nav>
{% endblock panel_content %}