{% extends "back/base_back.html" %}
{% from "back/_macros.html" import basic_modal, render_pagination, render_pagination_search_result %}
{% set active_page = "ads_pacakge" %}

{% set page_title = _('ads package') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block styles %}
{{ super() }}

{% endblock styles %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ _('show '~page_title~' data') }}</h3>
            <div class="card-tools">
                <form method="GET" name="search_form" action="{{ url_for('back.ads_package_search') }}">
                    <div class="input-group input-group-sm" style="width: 250px;">
                        <input id="{{ search_form.query.id }}" type="text" name="{{ search_form.query.name }}"
                            class="form-control float-right" placeholder="{{ search_form.query.label.text }}">

                        <div class="input-group-append">
                            <button id="{{ search_form.submit.id }}" name="{{ search_form.submit.name }}" type="submit"
                                class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>{{ _('action') }}</th>
                        <th>NO</th>
                        <th>{{ _('package name')}}</th>
                        <th>{{ _('normal price') }}</th>
                        <th>{{ _('discount price') }}</th>
                        <th>{{ _('discount') }}</th>
                        <th>{{ _('duration') }}</th>
                        <th>{{ _('description') }}</th>
                        <th>{{ _('status')}}</th>
                        <th>{{ _('created at') }}</th>
                        <th>{{ _('updated at') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in ads_package %}
                    {% set disc = data.price - data.discount_price %}
                    {% set persen = (disc / data.price) * 100 %}
                    <tr>
                        <td>
                            <!-- change status badge -->
                            {%- if data.is_active() %}
                            <a href="#adsPackageDeactivate{{data.public_id}}Modal" type="button" data-toggle="modal"
                                class="badge badge-secondary">{{_('deactivate')}}</a>

                            {{ basic_modal(modal_name="adsPackageDeactivate"~data.public_id, title=_("confirm deactivate
                            ads package"),
                            messages="
                            <p class='text-wrap'>are you sure deactivate ads package
                                <strong>"~data.package_name~"</strong> ? This
                                perform will
                                immediately eliminate ads packages option in /post page. <strong>The customer cannot
                                    select this ads package when buy ads!</strong>.
                            </p>
                            ", url=url_for('back.ads_packages_change_status', public_id=data.public_id)) }}
                            {% else %}
                            <a href="{{ url_for('back.ads_packages_change_status', public_id=data.public_id) }}"
                                class="badge badge-primary">{{_('activate')}}</a>
                            {%- endif %}
                            <!-- edit badge -->
                            <a href="{{ url_for('back.ads_package_update', public_id=data.public_id) }}"
                                class="badge badge-warning">{{_('edit')}}</a>
                            <!-- delete badge -->
                            <a href="#adsPackageConfirmDelete{{data.public_id}}Modal" type="button" data-toggle="modal"
                                class="badge badge-danger">{{_('delete')}}</a>

                            {{ basic_modal(modal_name="adsPackageConfirmDelete"~data.public_id, title=_("confirm delete
                            ads package"),
                            messages="are you sure delete ads package <strong>"~data.package_name~"</strong> ? <br> This
                            operation will remove this data in customer ads post.",
                            url=url_for('back.ads_package_delete', public_id=data.public_id)) }}
                        </td>
                        <td>{{ loop.index }}</td>
                        <td>{{ data.package_name }}</td>
                        <td>{{ format_price(data.price) }} </td>
                        <td>{{ format_price(data.discount_price) }} </td>
                        <td>
                            {{ format_price(disc)}}
                            <span class="badge badge-danger">{{ '('~persen | round(1, 'floor')~'%)' }}</span>
                        </td>
                        <td>{{ format_duration(data.duration) }}</td>
                        <td>{{ data.description|safe }}</td>
                        <td>
                            {% if data.status is true %}
                            {{ _('active') }}
                            {% elif data.status is false %}
                            {{ _('not active') }}
                            {% endif %}
                        </td>
                        <td>{% if data.created_at %}{{ moment(data.created_at, local=True).format('LLLL') }}{% endif %}
                        </td>
                        <td>{% if data.updated_at %} {{ moment(data.updated_at, local=True).format('LLLL') }}{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            {% if pagination is defined %}
            {{ render_pagination(pagination, '.ads_package') }}
            {% else %}
            {{ render_pagination_search_result(prev_url, next_url) }}
            {% endif %}
        </div>
        <!--/.card-footer-->
    </div>
    <!-- /.card -->
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}

{% endblock scripts %}