{%- extends "base.html" %}
{%- block title %}
{{ page_title ~' - '~ super() }}
{%- endblock title %}
{%- block content %}
<main role="main">
    <section class="container-lg">
        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 480px;">
            <h2 class="display-1">500</h2>
            <p>🥲 {{ _('The unexpected happened, we'll fix it right away!') }}</p>
            <small><a href="/">{{ _('Chek Status') }}</a></small>
        </div>
    </section>
</main>
{%- endblock content %}