{% macro render_alert(category, message) %}
<section class="container-lg">
    <div class="alert alert-{{ category }} text-center" role="alert">
        {{ message }}
    </div>
</section>
{% endmacro %}