<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
    <div class="container">
        <ul class="bd-footer-links ps-0 pl-0 mb-3">
            <li class="d-inline-block"><a href="{{ app_whatsapp }}">WhatsApp</a></li>
            <li class="d-inline-block ms-3"><a href="{{ app_twitter }}">Twitter</a></li>
            <li class="d-inline-block ms-3"><a href="{{ app_instagram }}">Instagram</a></li>
            <li class="d-inline-block ms-3"><a href="{{ app_facebook }}">Facebook</a></li>
        </ul>
        <p class="mb-0">
            Designed and built with all the love by <a href="{{ app_author }}">David R</a>.
        </p>
        <p class="mb-0">Currently <a href="{{ url_for('front.home_change_log') }}">v{{ app_ver }}</a>.
            Code licensed <a href="{{ app_link_src }}" target="_blank" rel="license noopener">MIT</a>.
        </p>
    </div>
</footer>