<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-lg">
        <a class="navbar-brand" href="{{ url_for('front.home_page') }}">
            <img src="{{ app_logo_src }}" height="25" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('front.home_about') }}">🏠 Tentang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('front.home_faq') }}">❓ F.A.Q</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        📜 Kebijakan
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('front.home_ads_policy') }}">🤝 Iklan</a>
                        <a class="dropdown-item" href="{{ url_for('front.home_tos') }}">🤝 Penggunaan</a>
                        <a class="dropdown-item" href="{{ url_for('front.home_privacy_policy') }}">👣 Privasi</a>
                    </div>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a class="btn btn-outline-primary my-2 my-sm-0 mr-2" role="button" data-toggle="modal"
                    data-target="#staticBackdropFeedback">💬 Umpan Balik</a>
                <a class="btn btn-primary my-2 my-sm-0" href="{{ url_for('front.home_ads') }}">✍️ Posting Kamar</a>
            </div>
        </div>
    </div>
</nav>