{% macro render_field_form_group_prepend(field) %}
<div class="form-group col-12 col-sm-6 mb-0">
    {{ field.label(class_="col-form-label") }} {% if field.flags.required %}✨{% endif %}
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text">{{ kwargs.get('icon') }}</div>
        </div>
        {{ field(class_="form-control", **kwargs)|safe }}

    </div>
    {%- if field.errors %}
    {%- for error in field.errors %}
    <small id="{{ field.id }}-help" class="form-text text-danger">{{ error | e }}}</small>
    {%- endfor %}
    {%- endif %}
</div>
{% endmacro %}

{% macro render_field_form_group_textarea(field) %}
<div class="form-group col-12 col-sm-12 mb-0">
    {{ field.label(class_="col-form-label") }} {% if field.flags.required %}✨{% endif %}
    {{ field(class_="form-control", **kwargs)|safe }}
    {%- if field.errors %}
    {%- for error in field.errors %}
    <small id="{{ field.id }}-help" class="form-text text-danger">{{ error | e }}</small>
    {%- endfor %}
    {%- endif %}
</div>
{% endmacro %}

{%- macro render_field_multiple_form_check(field) %}
{{ field(**kwargs) }}
{%- if field.errors %}
{%- for error in field.errors %}
<small id="{{ field.id }}-help" class="form-text text-danger">{{ error | e }}</small>
{%- endfor %}
{%- endif %}
{%- endmacro %}

{%- macro render_field_form_check(field) %}
<div class="form-group m-2">
    {{ field(**kwargs)|safe }} {{ field.label() }}
    {%- if field.errors %}
    {%- for error in field.errors %}
    <small id="{{ field.id }}-help" class="form-text text-danger">{{ error | e }}</small>
    {%- endfor %}
    {%- endif %}
</div>
{%- endmacro %}

{% macro render_field(field) %}
<div class="form-group m-2">
    {{ field(**kwargs)|safe }}
    {%- if field.errors %}
    {%- for error in field.errors %}
    <small id="{{ field.id }}-help" class="form-text text-danger">{{ error | e }}}</small>
    {%- endfor %}
    {%- endif %}
</div>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
<ul class="pagination pagination-sm m-0 float-right">
    <li{% if not pagination.has_prev %} class="page-item disabled" {% endif %}>
        <a class="page-link"
            href="{% if pagination.has_prev %}{{ url_for(endpoint, page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">
            &laquo;
        </a>
        </li>
        {% for p in pagination.iter_pages() %}
        {% if p %}
        {% if p == pagination.page %}
        <li class="page-item active">
            <a class="page-link" href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
        </li>
        {% else %}
        <li class="page-item ">
            <a class="page-link" href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="page-item disabled"><a href="#">&hellip;</a></li>
        {% endif %}
        {% endfor %}
        <li{% if not pagination.has_next %} class="page-item disabled" {% endif %}>
            <a class="page-link"
                href="{% if pagination.has_next %}{{ url_for(endpoint, page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
                &raquo;
            </a>
            </li>
</ul>
{% endmacro %}

{% macro render_pagination_search_result(prev_url, next_url) %}
<ul class="pagination pagination-sm m-0 float-right">
    <li{% if not prev_url %} class="page-item disabled" {% endif %}>
        <a class="page-link" href="{{ prev_url or '#'}}">
            &laquo;
        </a>
        </li>
        <li{% if not next_url %} class="page-item disabled" {% endif %}>
            <a class="page-link" href="{{ next_url or '#' }}">
                &raquo;
            </a>
            </li>
</ul>
{% endmacro %}