{% macro render_notification(category, message, link_address, link_caption ) %}
<section class="container-lg">
    <div class="alert alert-{{ category|safe }} text-center" role="alert">
        {{ message|safe }} <a href="{{ link_address|safe }}">{{ link_caption|safe }}</a>
    </div>
</section>
{% endmacro %}