{%- extends "base.html" %}
{%- block title %}
{{ status_message ~' - '~ super() }}
{%- endblock title %}
{%- block content %}
<main role="main">
    <section class="container-lg">
        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 480px;">
            <h2 class="display-1">{{ status_code }}</h2>
            <p>🥲 {{ status_message }}</p>
            <small><a href="/">&laquo; {{ _('Back') }}</a></small>
        </div>
    </section>
</main>
{%- endblock content %}