{% extends "security/base.html" %}
{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<h4 class="login-box-msg">{{ page_title }}</h4>
<p>{{ _('sorry, you dont have permission to access this page') }}.</p>
{% if current_user.is_authenticated %}
<a href="/logout">{{ _('logout') }}</a>
{% else %}
<button id="go-back" class="btn btn-primary btn-sm">{{ _('back') }}</button>
{% endif %}
{% endblock content %}

{% block scripts %}
<script type="javascript">
document.getElementById('go-back').addEventListener('click', () => {
  history.back();
});
</script>
{% endblock scripts %}