{%- macro basic_modal(modal_name, title, messages, url) %}
<div class="modal fade" id="{{ modal_name }}Modal" tabindex="-1" aria-labelledby="{{ modal_name }}ModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ modal_name }}ModalLabel">{{ _(title) | title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url }}" method="POST">
                <div class="modal-body">
                    {{ _(messages)|safe }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('close') | title
                        }}</button>
                    <button type="submit" class="btn btn-primary">{{ _('confirm') | title }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%- endmacro %}


{%- macro render_field(field) %}
{{ field(**kwargs)|safe }}
{%- endmacro %}

{%- macro render_field_with_errors(field) %}
<div class="form-group">
    {%- if field.errors %}
    {%- set update_aria = kwargs.update({'aria_describedby': field.id~'-error'}) %}
    {%- set update_class = kwargs.update({'class': 'form-control is-invalid'}) %}
    {{ field.label }} {% if field.flags.required %}*{% endif %}
    {{ field(class=update_class, aria_describedby=update_aria, **kwargs) }}
    <span id="{{ field.id }}-error" class="invalid-feedback">
        {% for error in field.errors %}
        {{ error|e }}
        {% endfor %}
    </span>
    {% else %}
    {{ field.label }} {% if field.flags.required %}*{% endif %}
    {{ field(**kwargs)|safe }}
    {% endif %}
</div>
{%- endmacro %}


{%- macro render_field_checkbox_with_errors(field) %}
<div class="form-group">
    <div class="form-check">
        {{ field.label(class="form-check-label") }}
        {{ field(**kwargs)|safe }}
    </div>
</div>
{%- endmacro %}

{% macro render_pagination(pagination, endpoint) %}
<ul class="pagination pagination-sm m-0 float-right">
    <li{% if not pagination.has_prev %} class="page-item disabled" {% endif %}>
        <a class="page-link"
            href="{% if pagination.has_prev %}{{ url_for(endpoint, page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">
            &laquo;
        </a>
        </li>
        {% for p in pagination.iter_pages() %}
        {% if p %}
        {% if p == pagination.page %}
        <li class="page-item active">
            <a class="page-link" href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
        </li>
        {% else %}
        <li class="page-item ">
            <a class="page-link" href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="page-item disabled"><a href="#">&hellip;</a></li>
        {% endif %}
        {% endfor %}
        <li{% if not pagination.has_next %} class="page-item disabled" {% endif %}>
            <a class="page-link"
                href="{% if pagination.has_next %}{{ url_for(endpoint, page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
                &raquo;
            </a>
            </li>
</ul>
{% endmacro %}

{% macro render_pagination_search_result(prev_url, next_url) %}
<ul class="pagination pagination-sm m-0 float-right">
    <li{% if not prev_url %} class="page-item disabled" {% endif %}>
        <a class="page-link" href="{{ prev_url or '#'}}">
            &laquo;
        </a>
        </li>
        <li{% if not next_url %} class="page-item disabled" {% endif %}>
            <a class="page-link" href="{{ next_url or '#' }}">
                &raquo;
            </a>
            </li>
</ul>
{% endmacro %}