<aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ url_for('.admin_dashboard') }}" class="brand-link">
        <img src="{{ app_favicon_32_src }}" alt="{{ app }}" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">{{ app | title }}</span>
    </a>

    <!-- Sidebar -->
    <div
        class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ current_user.avatar(32) }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{{ url_for('back.profile') }}" class="d-block">{{ current_user.email }}</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- /.sidebar-menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                {%- for item in current_menu.children recursive -%}
                <li class="nav-item">
                    <a href="{{ item.url}}" class="nav-link {% if item.active %} active {% endif %}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            {{ item.text }}
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    {%- if item.children -%}
                    <ul class="nav nav-treeview">
                        {{ loop(item.children) }}
                    </ul>
                    {%- endif -%}
                </li>
                {%- endfor -%}
            </ul>
        </nav>
    </div>
    <!-- /.sidebar -->

    <div class="sidebar-custom">
        <a href="{{ url_for_security('logout') }}" class="btn btn-link"><i class="fas fa-sign-out-alt"></i>
            {{_('logout')}}</a>
        <a href="#" class="btn btn-secondary hide-on-collapse pos-right">{{ _('Help') }}</a>
    </div>
    <!-- /.sidebar-custom -->
</aside>