<!doctype html>
<html lang="en">

<head>
    {%- block head %}
    {%- block metas %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="none, noarchive, nocache">
    <meta name="title" content="{{ page_title ~' - '~ app | title }}">
    <meta name="description" content="">
    {%- endblock metas %}
    {%- block styles %}
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- FontAwesome-Free -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}" />
    <!-- icheck bootstrap -->
    <link rel="stylesheet"
        href="{{ url_for('static', filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}" />
    <!-- Admin LTE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}" />
    {%- endblock styles %}
    <title>{%- block title %}{{ app | upper }}{%- endblock title %}</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ app_favicon_apple_src }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ app_favicon_32_src }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ app_favicon_16_src }}">
    {%- endblock head %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        {% include "back/_navbar.html" %}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {% include "back/_sidebar.html" %}
        <!-- Main Sidebar Container -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{{ page_title | title }}</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                {%- for breadcrumb in breadcrumbs -%}
                                <li class="breadcrumb-item">
                                    <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
                                </li>
                                {%- endfor -%}
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <!-- macro for flash messages -->
                    {% include "back/_messages.html" %}
                    <!-- end macro for flash messages -->
                    <div class="row">
                        {% block content %}
                        {% endblock content %}
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                <a href="{{ app_link_src | e }}">{{ app }}</a>.</strong>
            </div>
            <!-- Default to the left -->
            <strong>Version {{ app_ver }}
        </footer>
    </div>
    <!--./wrapper-->

    {% block scripts %}
    <!-- JQUERY -->
    <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- AdminLTE -->
    <script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    {{ moment.locale(g.locale) }}
    {% endblock scripts %}
</body>

</html>