{% extends "back/base_back.html" %}
{% from "back/_macros.html" import render_field_with_errors, render_field %}
{% set active_page = "profile" %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<div class="col-md-3">
    <!-- Profile Image -->
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
                <img class="profile-user-img img-fluid img-circle" src="{{ current_user.avatar(128) }}"
                    alt="{{ current_user.email }}">
            </div>

            <h3 class="profile-username text-center">{{ current_user.first_name }} {{ current_user.last_name }}</h3>

            <p class="text-muted text-center">
                {% if current_user.roles %}
                {%- for x in current_user.roles %}
                {{ x.name ~', ' }}
                {%- endfor %}
                {% else %}
                {{_('no have roles')}}
                {% endif %}
            </p>

            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>{{_('Email')}}</b> <a class="float-right">{{ current_user.email }}</a>
                </li>
                <li class="list-group-item">
                    <b>{{_('Username')}}</b> <a class="float-right">{{ current_user.username }}</a>
                </li>
                <li class="list-group-item">
                    <b>{{_('Active')}}</b> <a class="float-right">{{ current_user.is_active }}</a>
                </li>
            </ul>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <!-- About Me Box -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">{{ _('About Me') }}</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Education</strong>

            <p class="text-muted">
                B.S. in Computer Science from the University of Tennessee at Knoxville
            </p>

            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

            <p class="text-muted">Malibu, California</p>

            <hr>

            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

            <p class="text-muted">
                <span class="tag tag-danger">UI Design</span>
                <span class="tag tag-success">Coding</span>
                <span class="tag tag-info">Javascript</span>
                <span class="tag tag-warning">PHP</span>
                <span class="tag tag-primary">Node.js</span>
            </p>

            <hr>

            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.
            </p>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
<div class="col-md-9">
    <div class="card">
        <div class="card-header p-2">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">{{
                        _('Timeline') }}</a></li>
                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">{{ _('Settings')
                        }}</a></li>
            </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
            <div class="tab-content">
                <div class="active tab-pane" id="timeline">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse">
                        <!-- timeline time label -->
                        <div class="time-label">
                            <span class="bg-danger">
                                {{ moment().format('LLLL', refresh=True) }}
                            </span>
                        </div>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <div>
                            <i class="fas fa-envelope bg-primary"></i>

                            <div class="timeline-item">
                                <span class="time"><i class="far fa-clock"></i>
                                    {{ moment(current_user.current_login_at, local=True).format('LLLL') }}
                                </span>

                                <h3 class="timeline-header">{{ _('current login information') }}</h3>

                                <div class="timeline-body">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="align-middle">{{ _('current login at') }}
                                                </th>
                                                <th scope="col" class="align-middle">{{ _('current login ip') }}
                                                </th>
                                                <th scope="col" class="align-middle">{{ _('last login at') }}
                                                </th>
                                                <th scope="col" class="align-middle">{{ _('last login ip') }}
                                                </th>
                                                <th scope="col" class="align-middle">{{ _('login count') }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ moment(current_user.current_login_at, local=True).format('LLLL')
                                                    }}</td>
                                                <td>{{ current_user.current_login_ip }}</td>
                                                <td>{{ moment(current_user.last_login_at, local=True).format('LLLL') }}
                                                </td>
                                                <td>{{ current_user.last_login_ip }}</td>
                                                <td>{{ current_user.login_count }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END timeline item -->
                        <div>
                            <i class="far fa-clock bg-gray"></i>
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="settings">
                    <div class="settings-row">
                        <form method="POST" action="{{ url_for('back.profile') }}">
                            {{ profile_form.csrf_token() }}
                            <div class="row">
                                <div class="col-6">
                                    {{ render_field_with_errors(profile_form.first_name, class_="form-control") }}
                                </div>
                                <div class="col-6">
                                    {{ render_field_with_errors(profile_form.last_name, class_="form-control") }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    {{ render_field_with_errors(profile_form.email, class_="form-control") }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    {{ render_field(profile_form.submit, class_="btn btn-primary") }}
                                </div>

                            </div>

                    </div>
                    </form>
                    <hr>
                    <div class="row">
                        <label class="col-sm-4">{{ _('change password')}}</label>
                        <div class="col-sm-8">
                            <a href="{{ url_for_security('change_password') }}">{{ _('change here') }}</a>
                        </div>
                    </div>
                    {% if config["SECURITY_TWO_FACTOR"] %}
                    <div class="row">
                        <label class="col-sm-4">{{ _('two-factor authentication')}}</label>
                        <div class="col-sm-8">
                            {% if current_user.tf_primary_method %}
                            {% if current_user.tf_primary_method == "sms" %}
                            {{ current_user.tf_primary_method }} [{{ current_user.tf_phone_number }}] -
                            {% else %}
                            {{ current_user.tf_primary_method }} -
                            {% endif %}
                            {% else %}
                            {{ _('no setup -') }}
                            {% endif %}
                            <a href="{{ url_for_security('two_factor_setup') }}">{{ _('update here') }}</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div><!-- /.card-body -->
</div>
<!-- /.card -->
</div>
<!-- /.col -->
{% endblock content %}