{% extends "back/base_back.html" %}
{% from "back/_macros.html" import render_field, render_field_with_errors, render_field_checkbox_with_errors %}
{% set active_page = "create_location" %}

{% set page_title = _('create location') | title %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block styles %}
{{ super() }}

{% endblock styles %}

{% block content %}
<div class="col-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">{{ page_title }}</h3>
        </div>
        <form class="form-signin" method="POST" name="create_location_form">
            {{ create_location_form.csrf_token() }}
            <div class="card-body">
                {{ render_field_with_errors(create_location_form.location_name, class_="form-control",
                placeholder=_("ex: Universitas Amikom Yogyakarta"), required="required") }}
                {{ render_field_checkbox_with_errors(create_location_form.status) }}
            </div>
            <div class="card-footer">
                {{ render_field(create_location_form.submit, class_="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}

{% endblock scripts %}