{% extends "front/home/base_home.html" %}
{%- block meta %}
{{ super() }}
<meta name="title" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
{%- endblock meta %}
{%- block title %}
{{ 'Tentang Amikos - '~ super() }}
{%- endblock title %}
{%- block home_content %}
<article class="container-lg mt-5">
    <div class="card card-body mb-2">
        <h5 class="text-center font-weight-bold mb-3">📝 Tentang Amikos</h5>
        <div class="row">
            <div class="col-12 col-md-4 d-flex justify-content-center order-md-1 mb-2">
                <div class="figure">
                    <img src="{{ url_for('static', filename='img/front/about-dummy.svg') }}" alt=""
                        class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption">A caption for the above image.</figcaption>
                </div>
            </div>
            <div class="col-12 col-md-8 mb-2">
                <p>
                    Possimus quis et omnis doloribus voluptas. Atque quaerat quo debitis quos deleniti
                    excepturi. Et
                    sequi possimus quod. Natus doloremque et dignissimos dolor. Quam at quo itaque reprehenderit
                    earum
                    earum. Iste dolores aut aut adipisci.
                    <br>
                    <br>
                    Consectetur rerum aspernatur pariatur consequatur perferendis numquam omnis. Enim minima et
                    sunt
                    porro saepe expedita eius aut. Alias eum temporibus minus ea consequatur saepe ipsam sed.
                    Voluptas
                    inventore consequatur voluptas eveniet velit quo minus inventore. Dicta in alias quod
                    aspernatur
                    quisquam laboriosam.
                    <br>
                    <br>
                    Dignissimos dicta et voluptates blanditiis. Nulla ut aliquid velit quo quia natus dolores
                    excepturi.
                    Ut doloremque ratione reprehenderit aut et. Atque libero mollitia et iste rem. Nisi deleniti
                    aut
                    nihil nulla pariatur aspernatur eum enim. Et quis expedita aperiam optio porro.
                    <br>
                    <br>
                    Quidem qui vero ea inventore beatae. Culpa aspernatur aut eaque rerum animi voluptatem sunt
                    in. Unde
                    est voluptatum et excepturi. Et dolores in neque. Quibusdam dolores ea in architecto
                    occaecati
                    voluptatem atque deleniti.
                    <br>
                    <br>
                    Quos in libero consequuntur vel exercitationem in aut. Id cum cupiditate quod. Vel quia
                    voluptate
                    temporibus suscipit. Quia doloremque itaque quisquam quod rem voluptas sunt. Tempore porro
                    asperiores quasi accusantium enim accusantium odit cum. Non pariatur error neque sunt.
                </p>
            </div>
        </div>
    </div>
</article>
{%- endblock home_content %}