{% extends "front/home/base_home.html" %}
{%- block meta %}
{{ super() }}
<meta name="title"
    content="{{ ads_detail.property_type.value ~' '~ ads_detail.brand_name ~ _(' around ') ~ ads_detail.location.location_name }}">
<meta name="keywords"
    content="{{ ads_detail.property_type.value ~','~ ads_detail.brand_name ~','~ ads_detail.location.location_name }}">
<meta name="description"
    content="{{_('Find ') ~ ads_detail.property_type.value ~' '~ ads_detail.brand_name ~ _(' around ') ~ ads_detail.location.location_name }}">
{%- endblock meta %}
{%- block title %}
{{ ads_detail.brand_name | title ~' - '~ super() }}
{%- endblock title %}
{%- block home_content %}
<article class="container-lg mt-5">
    <div class="card border-primary my-2">
        <div class="card-body p-2">
            <div class="d-flex flex-sm-row justify-content-between align-items-center flex-column bd-highlight">
                <div class="d-flex flex-sm-row align-items-center">
                    <div class="p-2 bd-highlight">
                        <img src="{{ url_for('static', filename='img/front/placeholder-property.svg') }}"
                            class="img-thumbnail" alt="{{ ads_detail.brand_name }}" width="80" height="80">
                    </div>
                    <div class="p-2 bd-highlight d-flex flex-column">
                        <div class="p-0"><strong>📛 {{ ads_detail.brand_name }}</strong></div>
                        <div class="p-0">💸 {{ format_price(ads_detail.rental_price) ~'/'~
                            ads_detail.duration_of_ease.value }}</div>
                        <div class="p-0">📍 {{ ads_detail.location.location_name }}</div>
                    </div>
                </div>
                <div class="p-2 bd-highlight d-flex flex-row text-center">
                    <div class="p-2">🏠 <br> {{ ads_detail.property_type.value }}</div>
                    <div class="p-2">👦 <br> {{ ads_detail.gender_of_occupant.value }}</div>
                    <div class="p-2">🛁 <br> {{ ads_detail.type_of_bathroom.value }}</div>
                    <div class="p-2">🪟 <br> {{ ads_detail.number_bedroom_available }} Km. Tidur</div>
                    <div class="p-2">🚿 <br> {{ ads_detail.number_of_bathroom }} Km. Mandi</div>
                </div>
                <div class="d-flex flex-sm-row align-items-center justify-content-between">
                    <div class="p-2 bd-highlight text-center">
                        📅 <br> {% if ads_detail.created_at %}{{ moment(ads_detail.created_at,
                        local=True).fromNow(no_suffix=False) }}{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-body border-primary text-center mb-2">
        <div class="mb-3">
            <h5 class="font-weight-bold mb-3">🛒 {{ _('Facilities Available') }}</h5>
            <div class="d-flex flex-wrap justify-content-center">
                {% for amenities in ads_detail.amenities %}
                <div class="p-2">
                    <input id="amenities{{loop.index}}" name="amenities" type="checkbox" checked disabled>
                    <label for="amenitites{{loop.index}}">{{ amenities.amenities_name | safe }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="mb-3">
            <h5 class="font-weight-bold mb-3">💬 {{ _('Additional Information') }}</h5>
            {{ ads_detail.additional_info|safe }}
            <br>
            <span>-----</span>
            <p class="pt-2">📍 {{ ads_detail.location.location_name }}</p>
        </div>
        <div class="mb-3">
            <h5 class="font-weight-bold mb-3">📦 {{ _('Book this Property') }}</h5>
            <p>{{ _('For reservations / inquiries, please contact the property owner <br> directly by following the link
                below') }} 👇</p>
            <a role="button" data-toggle="modal" data-target="#staticBackdropContactOwner"
                class="btn btn-primary mb-3">🤙 {{ _('Contact the Owner') }} </a>
        </div>
        <div class="mb-3">
            <h5 class="font-weight-bold mb-3">🙌 {{ _('Your reaction') }}</h5>
            <div class="d-flex flex-wrap justify-content-center">
                <button type="button" class="btn btn-outline-primary mx-1 my-1">👍 {{ _('Like') }} <span
                        class="badge badge-warning">9</span>
                    <span class="sr-only">{{ _('Like') }}</span>
                </button>
                <button type="button" class="btn btn-outline-primary mx-1 my-1">👎 {{ _('Dislike') }} <span
                        class="badge badge-warning">9</span>
                    <span class="sr-only">{{ _('Dislike') }}</span>
                </button>
                <button type="button" class="btn btn-outline-primary mx-1 my-1">💙 {{ _('Whistlist') }} <span
                        class="badge badge-warning">9</span>
                    <span class="sr-only">{{ _('Whistlist') }}</span>
                </button>
                <button type="button" class="btn btn-outline-primary mx-1 my-1">🗣️ {{ _('Share') }} <span
                        class="badge badge-warning">9</span>
                    <span class="sr-only">{{ _('Share') }}</span>
                </button>
            </div>
        </div>
    </div>
</article>
<section class="container-lg my-4">
    <h5><strong>🧲 {{ _('Similar around ') ~ ads_detail.location.location_name }}</strong></h5>
    <div class="row">
        {% for data in similiar_around %}
        <div class="col-12 col-sm-6 col-md-4">
            <a href="#" class="text-decoration-none text-reset">
                <div class="card border-primary my-2">
                    <div class="card-body p-2">
                        <div class="d-flex flex-sm-row justify-content-between align-items-center flex-column">
                            <div class="d-flex flex-sm-row align-items-center">
                                <div class="p-2 bd-highlight">
                                    <img src="{{ url_for('static', filename='img/front/placeholder-property.svg') }}"
                                        class="img-thumbnail" alt="{{ data.brand_name }}" width="80" height="80">
                                </div>
                                <div class="p-2 bd-highlight d-flex flex-column">
                                    <div class="p-0"><strong>📛 {{ data.brand_name }}</strong></div>
                                    <div class="p-0">💸 {{ format_price(data.rental_price) ~'/'~
                                        data.duration_of_ease.value }}</div>
                                    <div class="p-0">📍 {{ data.location.location_name }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% else %}
        <div class="col">
            <h6>{{ _('no data available.') }}</h6>
        </div>
        {% endfor %}
    </div>
</section>
{%- endblock home_content %}
{%- block toast_or_modal %}
<!-- Modal -->
<div class="modal fade" id="staticBackdropContactOwner" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropContactOwnerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="staticBackdropContactOwnerLabel">
                    💬 {{ _('Choose the method below to contact the owner') }} 👇</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column">
                <a href="tel:{{ ads_detail.mobile_number }}" class="btn btn-outline-primary mb-2">📞 Telepon</a>
                <a href="https://wa.me/{{ ads_detail.whatsapp_number }}" class="btn btn-primary mb-2">📨 WhatsApp</a>
            </div>
        </div>
    </div>
</div>
{%- endblock toast_or_modal %}