{% extends "front/home/base_home.html" %}
{%- block meta %}
{{ super() }}
<meta name="title" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
{%- endblock meta %}
{%- block title %}
{{ 'Informasi Iklan - '~ super() }}
{%- endblock title %}
{%- block home_content %}
<section class="container-lg mt-5">
    <div class="card card-body mb-2">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Harga Iklan</h1>
            <p class="lead">Jangkau calon pelanggan potensial, cukup dari rumah. Tanpa cetak baner/selebaran,
                lebih terjangkau dan efektif.</p>
        </div>
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Gratis</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Rp. 0<small class="text-muted">/ Iklan</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>1 Iklan Properti</li>
                        <li>Diterbitkan di Web</li>
                        <li>Komunikasi langsung dengan pelanggan</li>

                        <li>Pusat bantuan &amp; pertanyaan</li>
                        <li>Dukungan Email</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">
                        Sign up for free
                    </button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Premium</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Rp. 110K <small class="text-muted">/ Bulan</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>2 Iklan Properti Yang Beda</li>
                        <li>Diterbitkan di Web &amp; Social Media</li>
                        <li>Berada paling atas selama 14 hari</li>
                        <li>Kustomisasi warna iklan</li>
                        <li>
                        <li>Komunikasi langsung dengan pelanggan</li>
                        </li>
                        <li>
                        <li>Pusat bantuan &amp; pertanyaan</li>
                        </li>
                        <li>Dukungan Prioritas Email</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Bisnis</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Rp. 300K<small class="text-muted">/ Bulan</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>5 Iklan Properti Yang Beda</li>
                            <li>Diterbitkan di Web, Social Media &amp; Email</li>
                            <li>Berada paling atas selama 28 hari</li>
                            <li>Kustomisasi warna iklan</li>
                            <li></li>
                            <li>Komunikasi langsung dengan pelanggan</li>
                            <li></li>
                            <li>Pusat bantuan &amp; pertanyaan</li>
                            <li>Dukungan Prioritas Email &amp; WhatsApp</li>
                        </ul>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
                </div>
            </div>
        </div>
    </div>
</section>
{%- endblock home_content %}