{% extends "front/home/base_home.html" %}
{% from "front/_macros.html" import render_field_form_group_prepend,
render_field_form_check, render_field_form_group_textarea,
render_field_multiple_form_check, render_field %}
{%- block meta %}
{{ super() }}
<meta name="title" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
{%- endblock meta %}
{%- block title %}
{{ 'Iklankan Indekos & Kontrakan - '~ super() }}
{%- endblock title %}
{%- block home_content %}
<article class="container-lg mt-5">
    <div class="row">
        <form method="POST" class="col-12 col-md-8" name="create_ads_form">
            {{ create_ads_form.csrf_token() }}
            <div class="card card-body mb-2">
                <h5 class="text-center font-weight-bold mb-3">📝 {{ _('Basic Information') }}</h5>
                <div class="form-row">
                    {{ render_field_form_group_prepend(create_ads_form.property_type, icon="🏠") }}
                    {{ render_field_form_group_prepend(create_ads_form.brand_name, icon="📛",
                    placeholder=_("Ie : Indekos Putra Jaya")) }}
                    {{ render_field_form_group_prepend(create_ads_form.gender_of_occupant, icon="👫") }}
                    {{ render_field_form_group_prepend(create_ads_form.number_bedroom_available, icon="🛏️", value="1",
                    min="1") }}
                    {{ render_field_form_group_prepend(create_ads_form.type_of_bathroom, icon="🛁") }}
                    {{ render_field_form_group_prepend(create_ads_form.number_of_bathroom, icon="🛁", value="1",
                    min="1") }}
                    {{ render_field_form_group_prepend(create_ads_form.location_close_to, icon="📍") }}
                    {{ render_field_form_group_prepend(create_ads_form.address, icon="📍",
                    placeholder=_("Ie : Jl. Mawar No. 1, Minomartani")) }}
                </div>
            </div>
            <div class="card card-body mb-2">
                <h5 class="text-center font-weight-bold mb-3">📝 {{ _('Amenities Information') }}</h5>
                {{ render_field_multiple_form_check(create_ads_form.amenities, class_="d-flex flex-wrap
                justify-content-around") }}
            </div>
            <div class="card card-body mb-2">
                <h5 class="text-center font-weight-bold mb-3">📝 {{ _('Rental Information') }}</h5>
                <div class="form-row">
                    {{ render_field_form_group_prepend(create_ads_form.rental_price, icon="Rp.",
                    placeholder=_("Ie: 350.000")) }}
                    {{ render_field_form_group_prepend(create_ads_form.duration_of_ease, icon="🏠") }}
                    {{ render_field_form_group_prepend(create_ads_form.mobile_number, icon="📞",
                    placeholder=_("Ie: 0812xxxxxx")) }}
                    {{ render_field_form_group_prepend(create_ads_form.whatsapp_number, icon="📨",
                    placeholder=_("Ie: 0812xxxxxx")) }}
                    {{ render_field_form_group_textarea(create_ads_form.additional_info,
                    placeholder=_("Such as special requirements..."), rows="3") }}
                </div>
            </div>
            <div class="card card-body mb-2">
                <h5 class="text-center font-weight-bold mb-3">📝 {{ _('Ads Packages Information') }}</h5>
                {{ render_field_multiple_form_check(create_ads_form.ads_packages) }}
                <div class="row">
                    <!--  <div class="col-12 col-sm-6 mb-0">
                        <label for="email-register" class="col-form-label">
                            {{ _('Total Advertising Costs') }}
                        </label>
                        <h4 class="font-weight-bold">💸 <span id="totalAdsCost">0</span></h4>
                    </div> -->
                    {{ render_field_form_group_prepend(create_ads_form.email, icon="📧", placeholder="you@mail.com") }}
                </div>
            </div>
            <div class="card card-body mb-2">
                <h5 class="text-center font-weight-bold mb-3">📝 {{ _('Feedback Information For Us') }}</h5>
                <div class="form-row">
                    {{ render_field_form_group_textarea(create_ads_form.feedback,
                    placeholder=_("So that we can be better 😊..."), rows="3") }}
                </div>
            </div>
            <div class="card card-body mb-2">
                <h5 class="text-center font-weight-bold mb-3">📝 {{ _('Purchase Confirmation') }}</h5>
                {{ render_field_form_check(create_ads_form.accept_privacy_policy) }}
                <div class="form-row mt-2">
                    <div class="d-flex flex-sm-row flex-column align-items-center justify-content-center">
                        {{ render_field(create_ads_form.recaptcha) }}
                        {{ render_field(create_ads_form.submit, class_="btn btn-primary btn-lg") }}
                    </div>
                </div>
            </div>
        </form>
        <div class="col-md-4 d-none d-md-block">
            <div class="card card-body mb-2">
                <h6 class="text-center font-weight-bold mb-3">😊 {{ _('About Amikos') }}</h6>
                <p class="text-center">Amikos merupakan tempat mencari informasi indekos populer bagi
                    mahasiswa/i di Jogja dan telah
                    bekerjasama dengan</p>
                <div class="d-flex flex-wrap justify-content-center">
                    <img src="{{ url_for('static', filename='img/front/example-partner//amazon-logo.svg') }}"
                        class="m-2" alt="" height="20">
                    <img src="{{ url_for('static', filename='img/front/example-partner//bank-of-america-logo-transparent.png') }}"
                        class="m-2" alt="" height="20">
                    <img src="{{ url_for('static', filename='img/front/example-partner//fedex-ground-1-logo-svg-vector.svg') }}"
                        class="m-2" alt="" height="20">
                    <img src="{{ url_for('static', filename='img/front/example-partner//fontys-39-logo-svg-vector.svg') }}"
                        class="m-2" alt="" height="20">
                    <img src="{{ url_for('static', filename='img/front/example-partner//freightliner-trucks-logo-svg-vector.svg') }}"
                        class="m-2" alt="" height="20">
                </div>
            </div>
            <div class="card card-body mb-2">
                <h6 class="text-center font-weight-bold mb-3">🤔 {{ _('Why Amikos') }}</h6>
                <p class="text-center">Jangkauan langsung ke kampus &amp; fokus membantu mahasiswa/i serta
                    pemilik usaha indekos maupun kontrakan dan tanpa bayar komisi penjualan.</p>
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="text-center p-2">🧑‍🎓<br>+ 5000 <br> Mahasiswa/i</div>
                    <div class="text-center p-2">📧<br>+ 1000 <br> Berlangganan <br> Newslatter</div>
                    <div class="text-center p-2">💸<br>Biaya iklan<br>mulai dari<br>Rp. 10.000</div>
                    <div class="text-center p-2">🎯<br>Transaksi<br>langsung ke<br>mahasiswa/i</div>
                </div>
            </div>
            <div class="card card-body mb-2">
                <h6 class="text-center font-weight-bold mb-3">💭 {{ _('Testimonial') }}</h6>
                <div id="carouselTestimoni" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="mb-2"><img alt="avatar"
                                    src="{{ url_for('static', filename='img/front/testimoni/testimoni-person-1.jpg') }}"
                                    class="figure-img img-fluid rounded-circle mx-auto d-block" width="75" height="75">
                                <figcaption class="figure-caption text-center">Ibu Sugiyarti - Kos Ijo
                                </figcaption>
                            </div>
                            <p class="text-center">Amikos ngebantu kamar yang kosong di kosan saya jadi penuh
                                dalam
                                waktu 1
                                bulan.</p>
                        </div>
                        <div class="carousel-item">
                            <div class="mb-2"><img alt="avatar"
                                    src="{{ url_for('static', filename='img/front/testimoni/testimoni-person-2.jpg') }}"
                                    class="figure-img img-fluid rounded-circle mx-auto d-block" width="75" height="75">
                                <figcaption class="figure-caption text-center">Putri Rahayu - Mahasiswi
                                </figcaption>
                            </div>
                            <p class="text-center">Gak perlu repot cari kos, cukup dari rumah gak perlu mondar
                                mandir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<section class="fixed-bottom">
    <div class="text-right">
        <button type="button" data-target="#collapseAdsPreview" data-toggle="collapse" aria-expanded="true"
            aria-controls="collapseAdsPreview" class="btn btn-primary btn-sm">
            👁️ {{ _('Ads Preview') }}
        </button>
    </div>
    <div class="collapse" id="collapseAdsPreview">
        <div class="card border-primary">
            <div class="container-lg">
                <div class="card-body p-2">
                    <div class="d-flex flex-sm-row justify-content-between align-items-center flex-column bd-highlight">
                        <div class="d-flex flex-sm-row align-items-center">
                            <div class="p-2 bd-highlight">
                                <img src="{{ url_for('static', filename='img/front/placeholder-property.svg') }}"
                                    class="img-thumbnail" alt="Nama Properti" width="80" height="80">
                            </div>
                            <div class="p-2 bd-highlight d-flex flex-column">
                                <div class="p-0"><strong>📛 <span id="previewBrandName">default</span></strong></div>
                                <div class="p-0">💸 <span id="previewRentalPrice">0</span>/<span
                                        id="previewDurationOfEase">duration</span></div>
                                <div class="p-0">📍 <span id="previewLocationName">default</span></div>
                            </div>
                        </div>
                        <div class="p-2 bd-highlight d-flex flex-row text-center">
                            <div class="p-2">🏠 <br> <span id="previewPropertyType">default</span></div>
                            <div class="p-2">👦 <br> <span id="previewGenderOfOccupant">default</span></div>
                            <div class="p-2">🛁 <br> <span id="previewBathroomType">default</span></div>
                            <div class="p-2">🪟 <br> <span id="previewNumberOfBedroom">0</span> {{ _('Bedroom') }}</div>
                            <div class="p-2">🚿 <br> <span id="previewNumberOfBathroom">0</span> {{ _('Bathroom') }}
                            </div>
                        </div>
                        <div class="d-flex flex-sm-row align-items-center justify-content-between">
                            <div class="p-2 bd-highlight text-center">
                                📅 <br> {{ _('1 Days Ago') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%- endblock home_content %}
{%- block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='plugins/inputmask/jquery.inputmask.min.js') }}"></script>
<script>
    var rental_price = document.getElementById("rental_price");
    Inputmask("currency").mask(rental_price);
    var mobile_number = document.getElementById("mobile_number");
    Inputmask("+628-9999-9999-999").mask(mobile_number);
    var whatsapp_number = document.getElementById("whatsapp_number");
    Inputmask("+628-9999-9999-999").mask(whatsapp_number);

    var form = document.querySelector('form');
    form.addEventListener('change', function () {
        let selectPropertyType = document.getElementById("property_type");
        let propertyType = selectPropertyType.options[selectPropertyType.selectedIndex].text;
        let brandName = document.getElementById("brand_name").value;
        let rentalPrice = document.getElementById("rental_price").value;
        let selectedDurationOfEase = document.getElementById("duration_of_ease");
        let durationOfEase = selectedDurationOfEase.options[selectedDurationOfEase.selectedIndex].text;
        let selectedLocationName = document.getElementById("location_close_to");
        let locationName = selectedLocationName.options[selectedLocationName.selectedIndex].text;
        let selectedGenderOfOccupant = document.getElementById("gender_of_occupant");
        let genderOfOccupant = selectedGenderOfOccupant.options[selectedGenderOfOccupant.selectedIndex].text;
        let numberBedroom = document.getElementById("number_bedroom_available").value;
        let numberBathroom = document.getElementById("number_of_bathroom").value;
        let selectedBathroomType = document.getElementById("type_of_bathroom");
        let bathroomType = selectedBathroomType.options[selectedBathroomType.selectedIndex].text;

        let previewBrandName = document.getElementById("previewBrandName");
        previewBrandName.innerHTML = brandName;
        let previewRentalPrice = document.getElementById("previewRentalPrice");
        previewRentalPrice.innerHTML = rentalPrice;
        let previewDurationOfEase = document.getElementById("previewDurationOfEase");
        previewDurationOfEase.innerHTML = durationOfEase;
        let previewLocationName = document.getElementById("previewLocationName");
        previewLocationName.innerHTML = locationName;
        let previewPropertyType = document.getElementById("previewPropertyType");
        previewPropertyType.innerHTML = propertyType;
        let previewGenderOfOccupant = document.getElementById("previewGenderOfOccupant");
        previewGenderOfOccupant.innerHTML = genderOfOccupant;
        let previewBathroomType = document.getElementById("previewBathroomType");
        previewBathroomType.innerHTML = bathroomType;
        let previewNumberOfBedroom = document.getElementById("previewNumberOfBedroom");
        previewNumberOfBedroom.innerHTML = numberBedroom;
        let previewNumberOfBathroom = document.getElementById("previewNumberOfBathroom");
        previewNumberOfBathroom.innerHTML = numberBathroom;

        /* let totalAdsCost = 0;
        let adsPackageCheckbox = document.getElementsByName("ads_packages");

        for (let i = 0; i < adsPackageCheckbox.length; i++) {
            if (adsPackageCheckbox[i].checked == true) {
                totalAdsCost = totalAdsCost + Number(adsPackageCheckbox[i].value);
            }
        }

        let previewTotalAdsCost = document.getElementById("totalAdsCost");

        const currency = function (number) {
            return new Intl.NumberFormat('en-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 2 }).format(number);
        };

        previewTotalAdsCost.innerHTML = currency(totalAdsCost); */
    })
</script>
{%- endblock scripts %}