{% extends "front/home/base_home.html" %}
{%- block meta %}
{{ super() }}
<meta name="title" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
{%- endblock meta %}
{%- block title %}
{{ 'History Pembaruan - '~ super() }}
{%- endblock title %}
{%- block home_content %}
<article class="container-lg mt-5">
    <div class="card card-body mb-2">
        <h5 class="text-center font-weight-bold mb-3">📝 Riwayat Pembaharuan</h5>
    </div>
</article>
{%- endblock home_content %}