{% extends "front/home/base_home.html" %}
{%- block meta %}
{{ super() }}
<meta name="title" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
{%- endblock meta %}
{%- block title %}
{{ 'Hal Yang Sering Ditanyakan - '~ super() }}
{%- endblock title %}
{%- block home_content %}
<article class="container-lg mt-5">
    <div class="card card-body mb-2">
        <h5 class="text-center font-weight-bold mb-4">❔ Hal Yang Mungkin Akan Ditanyakan</h5>
        <div class="accordion" id="accordionFaq">
            <div class="business-owner-faq mb-4">
                <h5>🙋 Berkaitan Dengan Pemilik Properti Indekos/Kontrakan</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div id="faqOne">
                            <h6>
                                <a type="button" data-toggle="collapse" aria-expanded="false"
                                    aria-controls="collapseFaqOne" href="#collapseFaqOne" class="collapsed">🤔
                                    Bagaimana Memposting Iklan Properti Saya?</a>
                            </h6>
                        </div>
                        <div id="collapseFaqOne" class="collapse" aria-labelledby="faqOne" data-parent="#accordionFaq"
                            style="">
                            <p>
                                Bagi pemilik properti, kamu dapat memposting iklan properti kamu pada <a
                                    href="#">halaman ini</a> dan ikuti langkah berikut pada video dibawah ini
                                untuk
                                lebih jelasnya.
                            </p>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div id="faqTwo">
                            <h6>
                                <a type="button" data-toggle="collapse" aria-expanded="false" class="collapsed"
                                    aria-controls="collapseFaqTwo" href="#collapseFaqTwo">🤔 Berapa Biaya Untuk
                                    Dapat Memposting Iklan Properti Saya?</a>
                            </h6>
                        </div>
                        <div class="collapse" data-parent="#accordionFaq" style="" id="collapseFaqTwo"
                            aria-labelledby="faqTwo">
                            <p>
                                Biaya yang dibutuhkan mulai dari Rp. 0 (GRATIS) Khusus Selama Pandemi COVID-19
                                hingga Rp. 100.000 tergantung kustomisasi paket iklan yang dipilih oleh kamu.
                                Untuk
                                lebih jelasnya terkait biaya dan durasi iklan lihat pada <a href="#">Halaman
                                    Info
                                    Iklan</a>
                            </p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div id="faqThree">
                            <h6>
                                <a type="button" data-toggle="collapse" aria-expanded="false" class="collapsed"
                                    aria-controls="collapseFaqThree" href="#collapseFaqThree">🤔 Berapa Lama
                                    Iklan
                                    Properti Saya Akan Tampil?</a>
                            </h6>
                        </div>
                        <div class="collapse" data-parent="#accordionFaq" style="" id="collapseFaqThree"
                            aria-labelledby="faqThree">
                            <p>Seluruh iklan properti yang di posting akan tampil selamanya, namun yang
                                membedakan
                                adalah posisi keberadaan dari iklan tersebut. Sebagai contoh Ibu Ani melakukan
                                iklan
                                dengan milih kustomisasi <a href="#">iklan paket 1</a>, dimana tidak
                                memungkinkan
                                iklan tetap berada di atas (sticky top), maka iklan tersebut akan terus turun
                                posisinya seiring dengan bertambahnya iklan yang diposting. Berbeda halnya jika
                                Ibu
                                Ani mimilih kustomisasi <a href="#">iklan paket 5</a> yang memungkinkan iklan
                                tetap
                                berada di atas selama 14 hari.
                            </p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div id="faqFour">
                            <h6>
                                <a type="button" data-toggle="collapse" aria-expanded="false" class="collapsed"
                                    aria-controls="collapseFaqFour" href="#collapseFaqFour">🤔 Apa Saja Metode
                                    Pembayaran Yang Diterima?</a>
                            </h6>
                        </div>
                        <div class="collapse" data-parent="#accordionFaq" style="" id="collapseFaqFour"
                            aria-labelledby="faqFour">
                            <p>Hampir seluruh metode pembayaran dapat Amikos terima, diantaranya Bank Transfer ,
                                Indomaret/Alfamart, Virtual Account BRI/BCA/BNI/MANDIRI, Go Pay hingga Kartu
                                Kredit.
                            </p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div id="faqFive">
                            <h6>
                                <a type="button" data-toggle="collapse" aria-expanded="false" class="collapsed"
                                    aria-controls="collapseFaqFive" href="#collapseFaqFive">🤔 Saya sudah
                                    memposting
                                    iklan, bagaimana saya menerima pesanan?</a>
                            </h6>
                        </div>
                        <div class="collapse" data-parent="#accordionFaq" style="" id="collapseFaqFive"
                            aria-labelledby="faqFive">
                            <p>Seluruh hal berkaitan dengan pertanyaan/pemesanan/pembayaran dari calon pelanggan
                                dalam hal ini Mahasiswa/i, dapat langsung melalui nomor telepon yang sudah
                                disertakan saat mendaftarkan iklan properti sehingga mempercepat proses dan
                                fleksibilitas dari masing-masing pemilik properti.</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div id="faqSix">
                            <h6>
                                <a type="button" data-toggle="collapse" aria-expanded="false" class="collapsed"
                                    aria-controls="collapseFaqSix" href="#collapseFaqSix">🤔 Saya sudah
                                    mendapatkan
                                    pesanan, apakah saya harus membayar komisi?</a>
                            </h6>
                        </div>
                        <div class="collapse" data-parent="#accordionFaq" style="" id="collapseFaqSix"
                            aria-labelledby="faqSix">
                            <p>Tidak. Itulah keuntungan yang bisa kamu dapat jika melakukan iklan di Amikos.
                                Kami
                                tidak mengambil komisi apapun dari transaksi yang terjadi.</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div id="faqSeven">
                            <h6>
                                <a type="button" data-toggle="collapse" aria-expanded="false" class="collapsed"
                                    aria-controls="collapseFaqSeven" href="#collapseFaqSeven">🤔 Masih ada yang
                                    ingin saya tanyakan, kemana saya dapat menghubungi Amikos?</a>
                            </h6>
                        </div>
                        <div class="collapse" data-parent="#accordionFaq" style="" id="collapseFaqSeven"
                            aria-labelledby="faqSeven">
                            <p>
                                Untuk pertanyaan lebih lanjut, kamu dapat menghubungi via email <a
                                    href="mailto:sapa@amikos.io">sapa@amikos.io</a> dengan subjek pertanyaan.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="user-faq mb-4">
                <h5>🙋 Berkaitan Dengan Mahasiswa/i atau Pelanggan</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div id="faqUserOne">
                            <h6>
                                <a type="button" data-toggle="collapse" aria-expanded="false" class="collapsed"
                                    aria-controls="collapseFaqUserOne" href="#collapseFaqUserOne">🤔
                                    Bagaimana Cara Saya Memesan Kamar Yang Tersedia Pada Iklan?</a>
                            </h6>
                        </div>
                        <div class="collapse" data-parent="#accordionFaq" style="" id="collapseFaqUserOne"
                            aria-labelledby="faqUserOne">
                            <p>Bagi mahasiswa/i atau pelanggan yang ingin memesan kamar, silahkan pilih iklan
                                yang di inginkan » klik lihat properti » lalu hubungi pemilik properti melalui
                                tombol "Hubungi Pemilik". Untuk lebih jelasnya dapat melihat video dibawah ini.
                            </p>

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div id="faqUserTwo">
                            <h6>
                                <a type="button" data-toggle="collapse" aria-expanded="false" class="collapsed"
                                    aria-controls="collapseFaqUserTwo" href="#collapseFaqUserTwo">🤔 Apakah saya
                                    harus memiliki akun untuk dapat memesan kamar?</a>
                            </h6>
                        </div>
                        <div class="collapse" data-parent="#accordionFaq" style="" id="collapseFaqUserTwo"
                            aria-labelledby="faqUserTwo">
                            <p>Tidak. Informasi yang tersedia dapat diakses tanpa harus memiliki akun.
                            </p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div id="faqUserThree">
                            <h6>
                                <a type="button" data-toggle="collapse" aria-expanded="false" class="collapsed"
                                    aria-controls="collapseFaqUserThree" href="#collapseFaqUserThree">🤔 Kemana
                                    saya harus membayar jika saya ingin memesan kamar?</a>
                            </h6>
                        </div>
                        <div class="collapse" data-parent="#accordionFaq" style="" id="collapseFaqUserThree"
                            aria-labelledby="faqUserThree">
                            <p>Pembayaran dapat dilakukan secara langsung dengan pemilik properti.
                            </p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div id="faqUserFour">
                            <h6>
                                <a type="button" data-toggle="collapse" aria-expanded="false" class="collapsed"
                                    aria-controls="collapseFaqUserFour" href="#collapseFaqUserFour">🤔 Apakah
                                    saya harus membayar biaya jasa pada amikos?</a>
                            </h6>
                        </div>
                        <div class="collapse" data-parent="#accordionFaq" style="" id="collapseFaqUserFour"
                            aria-labelledby="faqUserFour">
                            <p>Tidak. Kamu tidak dikenakan biaya apapun saat menggunakan layanan ini.
                            </p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div id="faqUserFive">
                            <h6>
                                <a type="button" data-toggle="collapse" aria-expanded="false" class="collapsed"
                                    aria-controls="collapseFaqUserFive" href="#collapseFaqUserFive">🤔 Bagaimana
                                    agar saya mendapatkan update terbaru dari setiap properti yang di
                                    iklankan?</a>
                            </h6>
                        </div>
                        <div class="collapse" data-parent="#accordionFaq" style="" id="collapseFaqUserFive"
                            aria-labelledby="faqUserFive">
                            <p>Kamu dapat ikut dalam program newslatter dengan mengisi form yang muncul di pojok
                                kanan bawah halaman utaman aplikasi ini, dimana amikos akan mengirimkan
                                informasi iklan properti terbaru setiap 1 minggu sekali.
                            </p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div id="faqUserSix">
                            <h6>
                                <a type="button" data-toggle="collapse" aria-expanded="false" class="collapsed"
                                    aria-controls="collapseFaqUserSix" href="#collapseFaqUserSix">🤔 Saya ingin
                                    berhenti newslatter, bagaimana saya agar dapat berhenti menerima informasi
                                    email dari amikos?</a>
                            </h6>
                        </div>
                        <div class="collapse" data-parent="#accordionFaq" style="" id="collapseFaqUserSix"
                            aria-labelledby="faqUserSix">
                            <p>Kamu bisa klik tautan "Unsubscribe" pada bagian bawah email atau kamu bisa
                                mengunjungi <a href="#">tautan ini</a> lalu isikan alamat email lalu klik tombol
                                Unsubscribe.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>
{%- endblock home_content %}