{% extends "front/home/base_home.html" %}
{%- from "front/_notification.html" import render_notification %}
{%- from "front/_macros.html" import render_pagination, render_pagination_search_result %}
{%- block meta %}
{{ super() }}
<meta name="title" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
{%- endblock meta %}
{%- block title %}
{{ 'Iklankan Indekos & Kontrakan Secara Gratis! - '~ super() }}
{%- endblock title %}
{%- block home_content %}
<section class="jumbotron">
    <div class="container-lg">
        <form class="d-flex flex-wrap justify-content-center" name="search_form" , method="GET"
            action="{{ url_for('front.home_ads_search') }}">
            <div class="form-group m-1">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">📍</div>
                    </div>
                    <input class="form-control mr-sm-2" type="search" id="{{ search_form.query.id }}"
                        name="{{ search_form.query.name }}" placeholder="{{ search_form.query.label.text }}"
                        aria-label="Search">
                </div>
            </div>
            <div class="form-group m-1"><button type="submit" class="btn btn-primary mb-2">🔍 {{ _('Search') }}</button>
            </div>
        </form>
        <div class="d-flex flex-wrap justify-content-center">
            <a href="#" class="btn btn-outline-primary m-1">👦 Pria</a>
            <a href="#" class="btn btn-outline-primary m-1">👧 Wanita</a>
            <a href="#" class="btn btn-outline-primary m-1">🛁 Km. Dalam</a>
            <a href="#" class="btn btn-outline-primary m-1">🛏️ K. Isian</a>
        </div>
    </div>
</section>
{{ render_notification('primary', '👋 Daftarkan rumah kos ataupun kontrakan secara GRATIS selama masa pandemi.',
'/ads', 'klik disini') }}
<article class="container-lg">
    <div class="general-ads">
        <h5 class="mb-3"><strong>🆕 Postingan Terbaru</strong></h5>
        {% for data in ads %}
        <div class="card border-primary my-2">
            <div class="card-body p-2">
                <div class=" position-absolute"><small>📌</small></div>
                <div class="d-flex flex-sm-row justify-content-between align-items-center flex-column bd-highlight">
                    <div class="d-flex flex-sm-row align-items-center">
                        <div class="p-2 bd-highlight">
                            <img src="{{ url_for('static', filename='img/front/placeholder-property.svg')  }}"
                                class="img-thumbnail" alt="Nama Properti" width="80" height="80">
                        </div>
                        <div class="p-2 bd-highlight d-flex flex-column">
                            <div class="p-0"><strong>📛 {{ data.brand_name }}</strong></div>
                            <div class="p-0">💸 {{ format_price(data.rental_price) ~'/'~ data.duration_of_ease.value }}
                            </div>
                            <div class="p-0">📍 {{ data.location.location_name }}</div>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight d-flex flex-row text-center">
                        <div class="p-2">🏠 <br> {{ data.property_type.value }}</div>
                        <div class="p-2">👦 <br> {{ data.gender_of_occupant.value }}</div>
                        <div class="p-2">🛁 <br> {{ data.type_of_bathroom.value }}</div>
                        <div class="p-2">🪟 <br> {{ data.number_bedroom_available }} Km. Tidur</div>
                        <div class="p-2">🚿 <br> {{ data.number_of_bathroom }} Km. Mandi</div>
                    </div>
                    <div class="d-flex flex-sm-row align-items-center justify-content-between">
                        <div class="p-2 bd-highlight text-center">
                            📅 <br> {% if data.created_at %}{{ moment(data.created_at,
                            local=True).fromNow(no_suffix=False) }}{%
                            endif %}
                        </div>
                        <div class="p-2 bd-highlight">
                            <a href="{{ url_for('front.home_ads_detail', public_id=data.public_id) }}"
                                class="btn btn-outline-primary my-2">👀 Pesan Properti</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="my-3 d-flex justify-content-center">
        {% if pagination is defined %}
        {{ render_pagination(pagination, 'front.home_page') }}
        {% else %}
        {{ render_pagination_search_result(prev_url, next_url) }}
        {% endif %}
        <!-- <button class="btn btn-outline-primary" type="button">
            <span class="spinner-border spinner-border-sm" role="status"></span>
            Muat lebih...
        </button> -->
    </div>
</article>
{%- endblock home_content %}
{%- block toast_or_modal %}
<!-- Toast -->
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto">👋 Subscribe!</strong>
            <small>Baru saja</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body">
            <p>
                Dapatkan informasi indekos terbaru setiap minggu dengan subscribe email kami, GRATIS!
            </p>
            <form class="d-flex flex-wrap justify-content-center">
                <div class="form-group m-1">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">📧</span>
                        </div>
                        <input type="email" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" placeholder="you@email.com" required="">
                    </div>
                </div>
                <div class="form-group m-1"><button type="submit" class="btn btn-primary btn-sm">💌 Kirim</button>
                </div>
            </form>
        </div>
    </div>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="3000">
        <div class="toast-header">
            <strong class="mr-auto">👋 Umpan Balik!</strong>
            <small>Baru saja</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body">
            <p>
                Umpan balik kamu sudah terkirim! Kami akan segera menghubungi kamu kembali.
            </p>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdropFeedback" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropFeedbackLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="staticBackdropFeedbackLabel">💬 Jika kamu menemukan bug, ingin
                    memberikan saran fitur
                    / kritik &amp; juga ingin bekerjasama, kamu bisa mengirimkan pesan melalui form dibawah ini 👇
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="form-group mb-0">
                        <label for="feedback-name" class="col-form-label">Nama Kamu ✨</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">📛</div>
                            </div>
                            <input type="text" class="form-control" id="feedback-name" placeholder="Nama" required="">
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label for="feedback-email" class="col-form-label">Email Kamu ✨</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">📧</div>
                            </div>
                            <input type="email" class="form-control" id="feedback-email" placeholder="you@mail.com"
                                required="">
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="col-form-label" for="feedback-subject">Subjek ✨</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">🏠</div>
                            </div>
                            <select class="form-control" id="feedback-subject">
                                <option value="cooperation">Kerja Sama<div></div>
                                </option>
                                <option value="bug">Bug<div></div>
                                </option>
                                <option value="suggest">Saran<div></div>
                                </option>
                                <option value="criticism">Kritik<div></div>
                                </option>
                                <option value="testimoni">Testimonial<div></div>
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label for="feedback-message" class="col-form-label">Pesan ✨</label>
                        <textarea class="form-control" id="feedback-message"
                            placeholder="Pesan yang ingin disampaikan..." required="" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">💌 Kirim Pesan</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%- endblock toast_or_modal %}