{%- extends "front/home/base_home.html" %}
{%- from "front/_alert.html" import render_alert %}
{%- block title %}
{{ 'Magic Login - '~ super() }}
{%- endblock title %}
{%- block home_content %}
<section class="container-lg mt-5">
    <div class="card card-body mb-2 form-signin">
        <h5 class="text-center font-weight-bold mb-3">📝 Masuk</h5>
        <form action="">
            <div class="form-group">
                <label for="email-login" class="col-form-label">Email Kamu ✨</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">📧</div>
                    </div>
                    <input type="email" class="form-control" id="email-login" placeholder="you@mail.com" required=""
                        aria-describedby="email-login-help">

                </div>
                <small id="email-login-help" class="form-text text-muted">Email ini belum terdaftar.</small>
            </div>
            <div class="form-group mb-0">
                <button class="btn btn-primary btn-block" type="submit">🔗 Kirim Magic Link</button>
            </div>
            <div class="text-center">
                <small>Saya <a href="#">belum punya akun.</a></small>
            </div>
        </form>
    </div>
</section>
{%- endblock home_content %}