{% extends "front/home/base_home.html" %}
{%- block meta %}
{{ super() }}
<meta name="title" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
{%- endblock meta %}
{%- block title %}
{{ 'Ganti Judul Disini - '~ super() }}
{%- endblock title %}
{%- block home_content %}
<h1>Starter Template</h1>
{%- endblock home_content %}