{% extends "front/home/base_home.html" %}
{%- block meta %}
{{ super() }}
<meta name="title" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
{%- endblock meta %}
{%- block title %}
{{ page_title ~' - '~ super() }}
{%- endblock title %}
{%- block home_content %}
<section class="container-lg mt-5">
    <div class="row">
        <article class="col-12 col-md-9 mb-2">
            <div class="ads-preview">
                <div class="card border-primary my-2">
                    <div class="card-body p-2">
                        <div class=" position-absolute"><small>📌</small></div>
                        <div
                            class="d-flex flex-sm-row justify-content-between align-items-center flex-column bd-highlight">
                            <div class="d-flex flex-sm-row align-items-center">
                                <div class="p-2 bd-highlight">
                                    <img src="{{ url_for('static', filename='img/front/placeholder-property.svg')  }}"
                                        class="img-thumbnail" alt="Nama Properti" width="80" height="80">
                                </div>
                                <div class="p-2 bd-highlight d-flex flex-column">
                                    <div class="p-0"><strong>📛 {{ transaction.ads.brand_name }}</strong></div>
                                    <div class="p-0">💸 {{ format_price(transaction.ads.rental_price) ~'/'~
                                        transaction.ads.duration_of_ease.value
                                        }}
                                    </div>
                                    <div class="p-0">📍 {{ transaction.ads.location.location_name }}</div>
                                </div>
                            </div>
                            <div class="p-2 bd-highlight d-flex flex-row text-center">
                                <div class="p-2">🏠 <br> {{ transaction.ads.property_type.value }}</div>
                                <div class="p-2">👦 <br> {{ transaction.ads.gender_of_occupant.value }}</div>
                                <div class="p-2">🛁 <br> {{ transaction.ads.type_of_bathroom.value }}</div>
                                <div class="p-2">🪟 <br> {{ transaction.ads.number_bedroom_available }} Km. Tidur</div>
                                <div class="p-2">🚿 <br> {{ transaction.ads.number_of_bathroom }} Km. Mandi</div>
                            </div>
                            <div class="d-flex flex-sm-row align-items-center justify-content-between">
                                <div class="p-2 bd-highlight text-center">
                                    📅 <br> {% if transaction.created_at %}{{ moment(transaction.created_at,
                                    local=True).fromNow(no_suffix=False) }}{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-package">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">{{ _('Ads Package Name') }}</th>
                                <th scope="col">{{ _('Description') }}</th>
                                <th scope="col">{{ _('Price') }}</th>
                                <th scope="col">{{ _('Discount Price') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ads in transaction.ads.ads_packages %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ ads.package_name }}</td>
                                <td>{{ ads.description|safe }}</td>
                                <td><s>{{ format_price(ads.price) }}</s></td>
                                <td>{{ format_price(ads.discount_price) }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot class="head-light">
                            <tr class="font-weight-bold">
                                <td colspan="3"></td>
                                <td class="text-center">Total</td>
                                <td>{{ format_price(transaction.ads.ads_cost) }} </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </article>
        <aside class="col-12 col-md-3 mb-2">
            <div class="card card-body">
                <div class="mb-2">
                    <input type='hidden' id='snap_token' value="{{ token }}" />
                    <button type="submit" class="checkout btn btn-primary btn-lg btn-block">
                        💸 {{ _(' Pay ') ~ format_price(transaction.ads.ads_cost) }}
                    </button>
                </div>
                <div>
                    <small>
                        {{ _('Payment process will be handle secured by Midtrans') }}
                    </small>
                </div>
            </div>
        </aside>
    </div>
</section>
{%- endblock home_content %}
{%- block scripts %}
{{ super() }}
{% if config["MIDTRANS_PRODUCTION"] %}
<script type="text/javascript" src="https://app.midtrans.com/snap/snap.js" data-client-key="{{ client_key }}"></script>
{% else %}
<script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js"
    data-client-key="{{ client_key }}"></script>
{% endif %}
<script>
    var token = document.querySelectorAll('#snap_token')[0].value;
    var checkoutBtn = document.querySelectorAll('.checkout')[0];
    checkoutBtn.onclick = function () {
        snap.pay(token, {
            onSuccess: function (result) {
                location.replace(result["finish_redirect_url"])
            },
            onPending: function (result) {
                location.replace(result["finish_redirect_url"])
            },
            onError: function () {
                location.replace(result["finish_redirect_url"])
            },
            language: "id",
        });
        // For more advanced use, refer to: https://snap-docs.midtrans.com/#snap-js
    }
</script>
{%- endblock scripts %}