{% extends "back/base_back.html" %}
{% from "back/_macros.html" import basic_modal, render_pagination, render_pagination_search_result %}
{% set active_page = "role" %}

{% block title %} {{ page_title ~' - '~ super() }} {% endblock title %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ _('show '~page_title~' data') }}</h3>
            <div class="card-tools">
                <form method="GET" name="search_form" action="{{ url_for('back.role_search') }}">
                    <div class="input-group input-group-sm" style="width: 250px;">
                        <input id="{{ search_form.query.id }}" type="text" name="{{ search_form.query.name }}"
                            class="form-control float-right" placeholder="{{ search_form.query.label.text }}">

                        <div class="input-group-append">
                            <button id="{{ search_form.submit.id }}" name="{{ search_form.submit.name }}" type="submit"
                                class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>{{ _('action') }}</th>
                        <th>NO</th>
                        <th>{{ _('name')}}</th>
                        <th>{{ _('description') }}</th>
                        <th>{{ _('permission')}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in roles %}
                    <tr>
                        <td><a href="#">{{ _('edit') }}</a></td>
                        <td>{{ loop.index }}</td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.description }}</td>
                        <td>{{ data.permissions }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            {% if pagination is defined %}
            {{ render_pagination(pagination, '.role') }}
            {% else %}
            {{ render_pagination_search_result(prev_url, next_url) }}
            {% endif %}
        </div>
        <!--/.card-footer-->
    </div>
    <!-- /.card -->
</div>
{% endblock content %}